In [2]:
import requests
import json
import html
import pandas as pd

C:\Users\Karina\miniconda3\lib\site-packages\requests\__init__.py:109: RequestsDependencyWarning: urllib3 (2.2.2) or chardet (3.0.4)/charset_normalizer (2.0.4) doesn't match a supported version!
  warnings.warn(

In [4]:
years = ['2021', '2022', '2023', '2024']

for year in years:
    # URL of the JSON file
    url = f'https://100x100trail.com/json/TOR330{year}.json'

    # Send a GET request to fetch the JSON data
    response = requests.get(url)

    # Check if the request was successful (status code 200)
    if response.status_code == 200:
        # Parse the JSON data
        data = response.json()

        # Optionally, save the data to a JSON file
        with open(f'TOR330{year}.json', 'w') as f:
            json.dump(data, f, indent=4)

        print(f"Data saved to 'TOR330{year}.json'")
    else:
        print(f"Failed to retrieve data. Status code: {response.status_code}")

Data saved to 'TOR3302021.json'
Data saved to 'TOR3302022.json'
Data saved to 'TOR3302023.json'
Data saved to 'TOR3302024.json'

In [11]:
# Prepare a list to hold the rows for the DataFrame
rows = []

# Function to parse each entry
def parse_data(entries):
    for entry in entries:
        attributes = entry["data"]["attributes"]
        name = html.unescape(attributes["name"]).title()
        team = attributes["team"]
        pettorale = attributes["pettorale"]
        sesso = attributes["sesso"]
        categoria = attributes["categoria"]
        finisher = attributes["finisher"]
        nationality = attributes["nazionalita"]

        # Append the row to the list
        rows.append([team, name, pettorale, sesso, categoria, nationality,  finisher])

        
        
# Load the JSON data from a file
with open('TOR3302024.json', 'r') as file:
    data = json.load(file)
parse_data(data)

# Create a DataFrame
df = pd.DataFrame(rows, columns=["Sponsor", "Name", "Bib",  "Sex", "Category",'Nationality', 'Status'])

# Display the DataFrame
print(df)

                        Sponsor                   Name   Bib Sex Category  \
0        SALOMON INTERNATIONNAL       D'Haene Francois    10   M      SEN
1                  LA SPORTIVA     Marmissolle  Beñat     25   M       V1
2     Kailas International Team         Perrier Martin     7   M      SEN
3       Trail running coaching           Macchi Andrea    20   M      SEN
4             The Green Runners            Hall Damian    15   M       V1
...                         ...                    ...   ...  ..      ...
1091                    runcard  Marziano  Gianfranco   1413   M       V2
1092               Brooks Trail      Mcconaughy Joseph    11   M      SEN
1093                       None          Lehmann Anita   592   F       V1
1094                        BMS         Locci Philippe   221   M       V2
1095                   Kikourou         Doutte Antoine   463   M       V1

     Nationality  Status
0             FR    True
1             FR    True
2             CH    True
3             IT    True
4             GB    True
...          ...     ...
1091          IT   False
1092          US   False
1093          CH   False
1094          FR   False
1095          RE   False

[1096 rows x 7 columns]

### Nationality - Mapping

In [ ]:
print(df['Nationality'].unique())

In [21]:
# Create a dictionary for country abbreviations to full names
country_mapping = {
    'FR': 'France', 'CH': 'Switzerland', 'IT': 'Italy', 'GB': 'United Kingdom',
    'ES': 'Spain', 'US': 'United States', 'DE': 'Germany', 'PL': 'Poland',
    'NZ': 'New Zealand', 'JP': 'Japan', 'DK': 'Denmark', 'CY': 'Cyprus',
    'CN': 'China', 'TR': 'Turkey', 'SM': 'San Marino', 'NL': 'Netherlands',
    'AT': 'Austria', 'GR': 'Greece', 'PT': 'Portugal', 'VN': 'Vietnam',
    'NO': 'Norway', 'SE': 'Sweden', 'CZ': 'Czech Republic', 'CA': 'Canada',
    'BR': 'Brazil', 'TH': 'Thailand', 'IE': 'Ireland', 'FI': 'Finland',
    'PE': 'Peru', 'UA': 'Ukraine', 'BE': 'Belgium', 'BG': 'Bulgaria',
    'MY': 'Malaysia', 'MX': 'Mexico', 'LT': 'Lithuania', 'GT': 'Guatemala',
    'KR': 'South Korea', 'CR': 'Costa Rica', 'AR': 'Argentina', 'AQ': 'Antarctica',
    'SG': 'Singapore', 'CL': 'Chile', 'RO': 'Romania', 'RS': 'Serbia',
    'AE': 'United Arab Emirates', 'HK': 'Hong Kong', 'ID': 'Indonesia',
    'SK': 'Slovakia', 'AU': 'Australia', 'SI': 'Slovenia', 'RE': 'Réunion',
    'AD': 'Andorra', 'EE': 'Estonia', 'TW': 'Taiwan', 'ZA': 'South Africa',
    'MO': 'Macau', 'GP': 'Guadeloupe', 'CO': 'Colombia', 'MA': 'Morocco',
    'HU': 'Hungary', 'MT': 'Malta'
}

# Sample DataFrame column with abbreviations
df['Nationality'] = df['Nationality'].map(country_mapping)

# Check the updated DataFrame
print(df[['Nationality']])

         Nationality
0             France
1             France
2        Switzerland
3              Italy
4     United Kingdom
...              ...
1091           Italy
1092   United States
1093     Switzerland
1094          France
1095         Réunion

[1096 rows x 1 columns]

### Extracting Times

In [ ]:
row_events = []
# Loop through the data and extract relevant fields
for entry in data[-20:]:
    attributes = entry["data"]["attributes"]
    events = entry["data"]["relationships"]["events"]["data"]
    
    # extracting bib
    bib = attributes["pettorale"]
    
    for event in events:
        print(bib, event)
#         place = events['tile']
#         time = events['start_date']
        

#     # Append the row to the list
#     row_events.append([bib, place, time])

In [31]:
# Loop through the data and extract relevant fields
for entry in data:
    attributes = entry["data"]["attributes"]
    events = entry["data"]["relationships"]["events"]["data"]
    
    name = attributes["name"].strip()
    bib = attributes["pettorale"]
    category = attributes["categoria"]
    status = attributes["finisher"]
    sponsor = attributes["team"]
    sesso = attributes["sesso"]
    
    # Extract event start times (some may be missing)
    start = next((event['start_date'] for event in events if event['title'] == "010 - START"), None)
    baite_youlaz = next((event['start_date'] for event in events if event['title'] == "020 - Baite Youlaz"), None)
    la_thuile = next((event['start_date'] for event in events if event['title'] == "030 - La Thuile"), None)

    # Append to rows
    rows.append([sponsor, name, bib, sesso, category, status, start, baite_youlaz, la_thuile])

# Create a DataFrame
df = pd.DataFrame(rows, columns=["Sponsor", "Name", "Bib", "Ge", "Category 1", "Status", "Start", "Baite Youlaz", "La Thuile"])

# Display the DataFrame
print(df)

1179 {'title': '060 - Rif. Deffeyes 450', 'row': 1, 'start_date': '2024-09-08T20:47:43+02:00', 'age': 31663, 'event_status_id': 194}
1179 {'title': '030 - La Thuile', 'row': 1, 'start_date': '2024-09-08T17:08:51+02:00', 'age': 18531, 'event_status_id': 194}
1179 {'title': '020 - Baite Youlaz', 'row': 1, 'start_date': '2024-09-08T15:54:14+02:00', 'age': 14054, 'event_status_id': 194}
1179 {'title': '010 - START', 'row': 1, 'start_date': '2024-09-08T11:41:32+02:00', 'age': -1108, 'event_status_id': 194}
1159 {'title': '060 - Rif. Deffeyes 450', 'row': 1, 'start_date': '2024-09-08T20:53:42+02:00', 'age': 32022, 'event_status_id': 194}
1159 {'title': '030 - La Thuile', 'row': 1, 'start_date': '2024-09-08T16:38:29+02:00', 'age': 16709, 'event_status_id': 194}
1159 {'title': '020 - Baite Youlaz', 'row': 1, 'start_date': '2024-09-08T15:36:31+02:00', 'age': 12991, 'event_status_id': 194}
1159 {'title': '010 - START', 'row': 1, 'start_date': '2024-09-08T11:41:19+02:00', 'age': -1121, 'event_status_id': 194}
1224 {'title': '060 - Rif. Deffeyes 450', 'row': 1, 'start_date': '2024-09-08T20:58:52+02:00', 'age': 32332, 'event_status_id': 194}
1224 {'title': '030 - La Thuile', 'row': 1, 'start_date': '2024-09-08T17:04:44+02:00', 'age': 18284, 'event_status_id': 194}
1224 {'title': '020 - Baite Youlaz', 'row': 1, 'start_date': '2024-09-08T15:49:16+02:00', 'age': 13756, 'event_status_id': 194}
1224 {'title': '010 - START', 'row': 1, 'start_date': '2024-09-08T11:25:01+02:00', 'age': -2099, 'event_status_id': 194}
458 {'title': '030 - La Thuile', 'row': 1, 'start_date': '2024-09-08T12:33:19+02:00', 'age': 9199, 'event_status_id': 194}
458 {'title': '020 - Baite Youlaz', 'row': 1, 'start_date': '2024-09-08T11:53:26+02:00', 'age': 6806, 'event_status_id': 194}
458 {'title': '010 - START', 'row': 1, 'start_date': '2024-09-08T09:43:11+02:00', 'age': -1009, 'event_status_id': 194}
186 {'title': '030 - La Thuile', 'row': 1, 'start_date': '2024-09-08T12:35:18+02:00', 'age': 9318, 'event_status_id': 194}
186 {'title': '020 - Baite Youlaz', 'row': 1, 'start_date': '2024-09-08T11:56:51+02:00', 'age': 7011, 'event_status_id': 194}
186 {'title': '010 - START', 'row': 1, 'start_date': '2024-09-08T09:26:53+02:00', 'age': -1987, 'event_status_id': 194}
8 {'title': '030 - La Thuile', 'row': 1, 'start_date': '2024-09-08T12:43:56+02:00', 'age': 9836, 'event_status_id': 194}
8 {'title': '020 - Baite Youlaz', 'row': 1, 'start_date': '2024-09-08T12:04:29+02:00', 'age': 7469, 'event_status_id': 194}
8 {'title': '010 - START', 'row': 1, 'start_date': '2024-09-08T09:00:00+02:00', 'age': -3600, 'event_status_id': 194}
1335 {'title': '030 - La Thuile', 'row': 1, 'start_date': '2024-09-08T15:10:35+02:00', 'age': 11435, 'event_status_id': 194}
1335 {'title': '020 - Baite Youlaz', 'row': 1, 'start_date': '2024-09-08T14:14:07+02:00', 'age': 8047, 'event_status_id': 194}
1335 {'title': '010 - START', 'row': 1, 'start_date': '2024-09-08T11:37:43+02:00', 'age': -1337, 'event_status_id': 194}
535 {'title': '030 - La Thuile', 'row': 1, 'start_date': '2024-09-08T14:05:23+02:00', 'age': 14723, 'event_status_id': 194}
535 {'title': '020 - Baite Youlaz', 'row': 1, 'start_date': '2024-09-08T13:06:17+02:00', 'age': 11177, 'event_status_id': 194}
535 {'title': '010 - START', 'row': 1, 'start_date': '2024-09-08T09:30:00+02:00', 'age': -1800, 'event_status_id': 194}
1408 {'title': '030 - La Thuile', 'row': 1, 'start_date': '2024-09-08T16:15:54+02:00', 'age': 15354, 'event_status_id': 194}
1408 {'title': '020 - Baite Youlaz', 'row': 1, 'start_date': '2024-09-08T15:16:52+02:00', 'age': 11812, 'event_status_id': 194}
1408 {'title': '010 - START', 'row': 1, 'start_date': '2024-09-08T11:43:45+02:00', 'age': -975, 'event_status_id': 194}
1394 {'title': '030 - La Thuile', 'row': 1, 'start_date': '2024-09-08T16:30:09+02:00', 'age': 16209, 'event_status_id': 194}
1394 {'title': '020 - Baite Youlaz', 'row': 1, 'start_date': '2024-09-08T15:21:31+02:00', 'age': 12091, 'event_status_id': 194}
1394 {'title': '010 - START', 'row': 1, 'start_date': '2024-09-08T11:46:33+02:00', 'age': -807, 'event_status_id': 194}
1160 {'title': '030 - La Thuile', 'row': 1, 'start_date': '2024-09-08T16:55:33+02:00', 'age': 17733, 'event_status_id': 194}
1160 {'title': '020 - Baite Youlaz', 'row': 1, 'start_date': '2024-09-08T15:44:32+02:00', 'age': 13472, 'event_status_id': 194}
1160 {'title': '010 - START', 'row': 1, 'start_date': '2024-09-08T11:52:14+02:00', 'age': -466, 'event_status_id': 194}
1562 {'title': '030 - La Thuile', 'row': 1, 'start_date': '2024-09-08T16:58:13+02:00', 'age': 17893, 'event_status_id': 194}
1562 {'title': '020 - Baite Youlaz', 'row': 1, 'start_date': '2024-09-08T15:51:26+02:00', 'age': 13886, 'event_status_id': 194}
1562 {'title': '010 - START', 'row': 1, 'start_date': '2024-09-08T11:35:27+02:00', 'age': -1473, 'event_status_id': 194}
1205 {'title': '030 - La Thuile', 'row': 1, 'start_date': '2024-09-08T17:11:40+02:00', 'age': 18700, 'event_status_id': 194}
1205 {'title': '020 - Baite Youlaz', 'row': 1, 'start_date': '2024-09-08T15:53:02+02:00', 'age': 13982, 'event_status_id': 194}
1205 {'title': '010 - START', 'row': 1, 'start_date': '2024-09-08T11:33:52+02:00', 'age': -1568, 'event_status_id': 194}
1230 {'title': '030 - La Thuile', 'row': 1, 'start_date': '2024-09-08T17:11:45+02:00', 'age': 18705, 'event_status_id': 194}
1230 {'title': '020 - Baite Youlaz', 'row': 1, 'start_date': '2024-09-08T15:53:27+02:00', 'age': 14007, 'event_status_id': 194}
1230 {'title': '010 - START', 'row': 1, 'start_date': '2024-09-08T11:34:34+02:00', 'age': -1526, 'event_status_id': 194}
1177 {'title': '030 - La Thuile', 'row': 1, 'start_date': '2024-09-08T17:23:56+02:00', 'age': 19436, 'event_status_id': 194}
1177 {'title': '020 - Baite Youlaz', 'row': 1, 'start_date': '2024-09-08T16:10:44+02:00', 'age': 15044, 'event_status_id': 194}
1177 {'title': '010 - START', 'row': 1, 'start_date': '2024-09-08T11:43:26+02:00', 'age': -994, 'event_status_id': 194}
1413 {'title': '030 - La Thuile', 'row': 1, 'start_date': '2024-09-08T17:24:00+02:00', 'age': 19440, 'event_status_id': 194}
1413 {'title': '020 - Baite Youlaz', 'row': 1, 'start_date': '2024-09-08T15:56:54+02:00', 'age': 14214, 'event_status_id': 194}
1413 {'title': '010 - START', 'row': 1, 'start_date': '2024-09-08T11:38:34+02:00', 'age': -1286, 'event_status_id': 194}
11 {'title': '010 - START', 'row': 1, 'start_date': '2024-09-08T07:23:00+02:00', 'age': -9420, 'event_status_id': 200}
592 {'title': '010 - START', 'row': 1, 'start_date': '2024-09-08T07:23:00+02:00', 'age': -9420, 'event_status_id': 200}
221 {'title': '010 - START', 'row': 1, 'start_date': '2024-09-08T09:18:17+02:00', 'age': -2503, 'event_status_id': 194}
463 {'title': '010 - START', 'row': 1, 'start_date': '2024-09-08T09:25:26+02:00', 'age': -2074, 'event_status_id': 194}

In [ ]:
# Filter for women
women_df = df[df['Sex'] == 'F']

# Count total women and women who finished
total_women = len(women_df)
finished_women = len(women_df[women_df['Status'] == True])

# # Calculate percentage
percentage_finished = (finished_women / total_women) * 100 if total_women > 0 else 0

print(f"Percentage of women who finished: {percentage_finished:.2f}%")

In [23]:
# Assuming df is the DataFrame with athlete data

# Group by nationality
nationality_groups = df.groupby('Nationality')

# Calculate total athletes and those who finished
total_athletes = nationality_groups['Name'].count()
finished_athletes = nationality_groups.apply(lambda x: x[x['Status'] == True]['Name'].count())

# Calculate the percentage of finishers per nationality
percentage_finished = (finished_athletes / total_athletes) * 100

# Create a new DataFrame for clarity
percentage_df = pd.DataFrame({
    'Total Athletes': total_athletes,
    'Finished Athletes': finished_athletes,
    'Percentage Finished (%)': percentage_finished
})

percentage_df.sort_values(by='Percentage Finished (%)', ascending = False).head(50)

,Total Athletes,Finished Athletes,Percentage Finished (%)
Nationality,,,
United Arab Emirates,1,1,100.000000
Costa Rica,1,1,100.000000
Lithuania,2,2,100.000000
Antarctica,2,2,100.000000
Turkey,3,3,100.000000
Mexico,2,2,100.000000
Chile,1,1,100.000000
Czech Republic,2,2,100.000000
Cyprus,1,1,100.000000
Portugal,13,11,84.615385
Malaysia,13,10,76.923077
Slovakia,4,3,75.000000
Spain,44,27,61.363636
Romania,5,3,60.000000
United States,50,30,60.000000
Switzerland,21,12,57.142857
Canada,17,9,52.941176
France,175,91,52.000000
Ukraine,2,1,50.000000
Norway,4,2,50.000000
Peru,2,1,50.000000
San Marino,2,1,50.000000
Indonesia,2,1,50.000000
Brazil,6,3,50.000000
Bulgaria,2,1,50.000000
Italy,378,187,49.470899
China,39,19,48.717949
Belgium,28,13,46.428571
Greece,16,7,43.750000
Germany,21,9,42.857143
Thailand,7,3,42.857143
Argentina,7,3,42.857143
Denmark,5,2,40.000000
Poland,10,4,40.000000
United Kingdom,39,15,38.461538
Austria,8,3,37.500000
Japan,53,19,35.849057
Finland,17,6,35.294118
Slovenia,3,1,33.333333
Singapore,6,2,33.333333
Serbia,3,1,33.333333
South Korea,21,7,33.333333
Vietnam,3,1,33.333333
Guatemala,3,1,33.333333
New Zealand,3,1,33.333333
Netherlands,6,2,33.333333
Sweden,6,2,33.333333
Australia,4,1,25.000000
Ireland,8,2,25.000000
Hong Kong,13,3,23.076923

['FR' 'CH' 'IT' 'GB' 'ES' 'US' 'DE' 'PL' 'NZ' 'JP' 'DK' 'CY' 'CN' 'TR'
 'SM' 'NL' 'AT' 'GR' 'PT' 'VN' 'NO' 'SE' 'CZ' 'CA' 'BR' 'TH' 'IE' 'FI'
 'PE' 'UA' 'BE' 'BG' 'MY' 'MX' 'LT' 'GT' 'KR' 'CR' 'AR' 'AQ' 'SG' 'CL'
 'RO' 'RS' 'AE' 'HK' 'ID' 'SK' 'AU' 'SI' 'RE' 'AD' 'EE' 'TW' 'ZA' 'MO'
 'GP' 'CO' 'MA' 'HU' 'MT']