In [1]:
import requests
import json
import html
import pandas as pd
import time
import numpy as np
import matplotlib.pyplot as plt
import unicodedata
import re

C:\Users\Karina\miniconda3\lib\site-packages\requests\__init__.py:109: RequestsDependencyWarning: urllib3 (2.2.2) or chardet (3.0.4)/charset_normalizer (2.0.4) doesn't match a supported version!
  warnings.warn(

In [2]:
# Function to remove special characters
def normalize_name(name):
    # Normalize to remove accents and special characters
    name = unicodedata.normalize('NFD', name)
    # Encode to ASCII and ignore errors, then decode back to string
    name = name.encode('ascii', 'ignore').decode('utf-8')
    return name

In [3]:

# # URL of the JSON file
# url = "https://itra.run/Races/RaceResults/TOR330.Tor.des.G%C3%A9ants%C2%AE/2023/80226"

# # Send a GET request to fetch the JSON data
# response = requests.get(url)
# response

In [4]:
years = [ '2024', '2023', 
         '2022', 
         '2022_HOTEL_ITALIA',  # bad weather at the end 
         '2022_RIFUGIO_FRASSATI',
         '2022_BOSSES',
         '2021', 
         '2019',
#          '2020', # cancelled due to covid
         '2018', '2017', '2016', 
         #'2015', # having issues with 2015
         '2014', '2013', '2012', '2011', '2010']

races = [#'TOR130', 'TOR330', 
         'TOR450'
        ]

#### Loading ITRA

In [5]:

TORX_itra_df = {}
# races = ['TOR450']

for race in races:
    for year in years:
        try:

            file = f'{race} Data/3. ITRA/TXT/{race}_{year}.txt'
            df = pd.read_csv(file, delimiter='\t', 
                         dtype={'Time': 'string'})    

            # renaming columns so it is easier later to compare
            df = df.rename(columns={"Runner": "Name",
                                    "Gender": "Sex",
                                    "Nationality": "ITRA_Nationality",
                                   })

            # change the name to a title case
            df['Name'] = df['Name'].str.title()
            df['Name'] = df['Name'].apply(normalize_name)

            # Convert 'Time' to timedelta format
            df['Performance'] = pd.to_timedelta(df['Time'], errors='coerce')
            # Calculate total seconds and create 'Performance_Seconds' column
            df['Performance_Seconds'] = df['Performance'].dt.total_seconds()

            if year == '2022_HOTEL_ITALIA':
            # Create the 'Status' column
                df['Status'] =  'Finished at Hotel Italia'
                df['Year'] = '2022'    
            elif year == '2022_RIFUGIO_FRASSATI':
                df['Status'] = 'Finished at Rifugio Frassati'
                df['Year'] = '2022'
            elif year == '2022_BOSSES':
                df['Status'] =  'Finished at Bosses'
                df['Year'] = '2022'
            else:
                df['Status'] = np.where(df['Performance'].isna(), 'DNF', 'Finished')
                df['Year'] = f'{year}'

            df['Race'] = f'{race}'

    #             # Drop the intermediate columns if they're no longer needed
            df = df.drop(columns=['Time', '#'])

            df['Name'] = df['Name'].str.strip()
            df['Name'] = df['Name'].str.replace(',', '')
            df['Name'] = df['Name'].str.replace('\'', '')
            df['Name'] = df['Name'].str.replace('-', '')
            df['Name'] = df['Name'].str.replace(r"\s+", " ")

    #             print(race, year, '\n', df.head())

            # Store the DataFrame in the dictionary with a key like 'TOR330_2021'
            TORX_itra_df[f'{race}_{year}'] = df
            print('* ',f'{race}_{year} {df.shape}', '\n')
        except:
            
            if file == 'TOR330 Data/3. ITRA/TXT/TOR330_2022_HOTEL_ITALIA.txt':
                pass
            elif file == 'TOR450 Data/3. ITRA/TXT/TOR450_2022_RIFUGIO_FRASSATI.txt':
                pass
            elif file == 'TOR450 Data/3. ITRA/TXT/TOR330_2022_BOSSES.txt':
                pass
            
            else:
                print(f'issues with {race}_{year}')
                print(f'{file}')
                print('\n')

*  TOR450_2024 (168, 9)

*  TOR450_2023 (173, 9)

*  TOR450_2022 (46, 9)

*  TOR450_2022_HOTEL_ITALIA (11, 9)

issues with TOR450_2022_BOSSES
TOR450 Data/3. ITRA/TXT/TOR450_2022_BOSSES.txt


*  TOR450_2021 (56, 9)

*  TOR450_2019 (100, 9)

issues with TOR450_2018
TOR450 Data/3. ITRA/TXT/TOR450_2018.txt


issues with TOR450_2017
TOR450 Data/3. ITRA/TXT/TOR450_2017.txt


issues with TOR450_2016
TOR450 Data/3. ITRA/TXT/TOR450_2016.txt


issues with TOR450_2014
TOR450 Data/3. ITRA/TXT/TOR450_2014.txt


issues with TOR450_2013
TOR450 Data/3. ITRA/TXT/TOR450_2013.txt


issues with TOR450_2012
TOR450 Data/3. ITRA/TXT/TOR450_2012.txt


issues with TOR450_2011
TOR450 Data/3. ITRA/TXT/TOR450_2011.txt


issues with TOR450_2010
TOR450 Data/3. ITRA/TXT/TOR450_2010.txt

C:\Users\Karina\AppData\Local\Temp\ipykernel_19112\2679965923.py:50: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Name'] = df['Name'].str.replace(r"\s+", " ")
C:\Users\Karina\AppData\Local\Temp\ipykernel_19112\2679965923.py:50: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Name'] = df['Name'].str.replace(r"\s+", " ")
C:\Users\Karina\AppData\Local\Temp\ipykernel_19112\2679965923.py:50: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Name'] = df['Name'].str.replace(r"\s+", " ")
C:\Users\Karina\AppData\Local\Temp\ipykernel_19112\2679965923.py:50: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Name'] = df['Name'].str.replace(r"\s+", " ")
C:\Users\Karina\AppData\Local\Temp\ipykernel_19112\2679965923.py:50: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Name'] = df['Name'].str.replace(r"\s+", " ")
C:\Users\Karina\AppData\Local\Temp\ipykernel_19112\2679965923.py:50: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Name'] = df['Name'].str.replace(r"\s+", " ")

In [6]:
for race in races:
    for year in years:
        try:
            tor_year = TORX_itra_df[f'{race}_{year}']
            # Count the occurrences of each status
            status_counts = tor_year['Status'].value_counts()
            print(race, year, '\n', status_counts, '\n', '*'*40)
        except:
            pass

TOR450 2024
 DNF         100
Finished     68
Name: Status, dtype: int64
 ****************************************
TOR450 2023
 DNF         88
Finished    85
Name: Status, dtype: int64
 ****************************************
TOR450 2022
 Finished    46
Name: Status, dtype: int64
 ****************************************
TOR450 2022_HOTEL_ITALIA
 Finished at Hotel Italia    11
Name: Status, dtype: int64
 ****************************************
TOR450 2021
 Finished    31
DNF         25
Name: Status, dtype: int64
 ****************************************
TOR450 2019
 DNF         60
Finished    40
Name: Status, dtype: int64
 ****************************************

In [7]:
TORX_itra_df

{'TOR450_2024':                     Name  Age Sex ITRA_Nationality     Performance  \
 0            Erwee Tiaan   37   M              RSA 5 days 02:09:41
 1     Fohrmeister Volker   39   M              GER 5 days 18:32:15
 2     Roncato Alessandro   44   M              ITA 5 days 23:01:51
 3           Bero Stephan   53   M              BEL 6 days 06:11:04
 4           Galve Javier   42   M              ESP 6 days 08:17:34
 ..                   ...  ...  ..              ...             ...
 163     Trabucchi Pietro   61   M              ITA             NaT
 164     Trygub Ievgeniia   41   F              UKR             NaT
 165  Van Gheluwe Yannick   52   M              FRA             NaT
 166        Vuillen Loris   63   M              ITA             NaT
 167           Yvin Erwan   49   M              FRA             NaT

      Performance_Seconds    Status  Year    Race
 0               439781.0  Finished  2024  TOR450
 1               498735.0  Finished  2024  TOR450
 2               514911.0  Finished  2024  TOR450
 3               540664.0  Finished  2024  TOR450
 4               548254.0  Finished  2024  TOR450
 ..                   ...       ...   ...     ...
 163                  NaN       DNF  2024  TOR450
 164                  NaN       DNF  2024  TOR450
 165                  NaN       DNF  2024  TOR450
 166                  NaN       DNF  2024  TOR450
 167                  NaN       DNF  2024  TOR450

 [168 rows x 9 columns],
 'TOR450_2023':                     Name Age Sex ITRA_Nationality     Performance  \
 0      Raichon Sebastien  51   M              FRA 4 days 18:29:01
 1            Erwee Tiaan  36   M              RSA 4 days 20:50:20
 2           Kienzl Peter  48   M              ITA 5 days 00:59:40
 3        Gabioud Candide  39   M              SUI 5 days 12:59:16
 4    Gabioud Jules Henry  36   M              CHE 5 days 12:59:27
 ..                   ...  ..  ..              ...             ...
 168         Thierry Ador  52   M              FRA             NaT
 169           Timo Vogel  46   M              GER             NaT
 170     Trabucchi Pietro  60   M              ITA             NaT
 171    Traina Christophe  51   M              BEL             NaT
 172        Wijaya Hendra  57   M              INA             NaT

      Performance_Seconds    Status  Year    Race
 0               412141.0  Finished  2023  TOR450
 1               420620.0  Finished  2023  TOR450
 2               435580.0  Finished  2023  TOR450
 3               478756.0  Finished  2023  TOR450
 4               478767.0  Finished  2023  TOR450
 ..                   ...       ...   ...     ...
 168                  NaN       DNF  2023  TOR450
 169                  NaN       DNF  2023  TOR450
 170                  NaN       DNF  2023  TOR450
 171                  NaN       DNF  2023  TOR450
 172                  NaN       DNF  2023  TOR450

 [173 rows x 9 columns],
 'TOR450_2022':                              Name  Age Sex ITRA_Nationality     Performance  \
 0               Raichon Sebastien   50   M              FRA 5 days 03:57:18
 1                     Erwee Tiaan   35   M              RSA 5 days 14:23:35
 2                       Papi Luca   42   M              ITA 5 days 14:23:36
 3                    Tierney Paul   40   M              IRL 5 days 16:23:20
 4                    Kuchimi Taro   41   M              JPN 6 days 02:03:40
 5   Garcia Rodriguez Jorge Manuel   49   M              ESP 6 days 02:38:22
 6              Fohrmeister Volker   37   M              GER 6 days 04:06:41
 7                     Hilz Rainer   37   M              GER 6 days 04:06:41
 8           Rizzo Diego Francesco   45   M              ITA 6 days 07:04:24
 9                Laving Jean Marc   43   M              FRA 6 days 07:48:31
 10         Beletoiu Claudiu Ionel   31   M              ROU 6 days 11:35:50
 11                  Poskin Julien   40   M              BEL 6 days 16:59:31
 12               Bonandrini Paolo   38   M              ITA 6 days 17:29:18
 13                  Anderson John   44   M              USA 6 days 17:33:50
 14           Callisardi Giancarlo   50   M              ITA 6 days 18:48:18
 15               Lesage Sebastien   52   M              FRA 6 days 18:48:18
 16               Bourdais Olivier   51   M              FRA 6 days 18:48:19
 17                   Manse Lilian   32   M              FRA 6 days 18:52:00
 18                 Barmasse Piero   59   M              ITA 6 days 19:40:51
 19               Higueret Quentin   25   M              FRA 6 days 21:44:46
 20                David Mousseaux   52   M              FRA 6 days 22:16:29
 21                   Bero Stephan   51   M              BEL 7 days 00:04:28
 22                   Ost Isabelle   43   F              BEL 7 days 00:04:32
 23                  Heyer Patrick   56   M              FRA 7 days 00:57:45
 24                 Haebler Stefan   47   M              SUI 7 days 01:19:16
 25              Souloumiac Arnaud   51   M              FRA 7 days 03:10:25
 26               Saint Joly Chloe   34   F              FRA 7 days 03:43:16
 27                 Curtil Raphael   48   M              FRA 7 days 04:15:00
 28                Poulin Stephane   52   M              CAN 7 days 04:31:24
 29                Turgeon Richard   56   M              CAN 7 days 04:31:25
 30                   Spinks Nicky   55   F              GBR 7 days 05:20:59
 31                  Fabre Olivier   46   M              FRA 7 days 06:09:08
 32                Iotti Sebastien   47   M              FRA 7 days 06:09:08
 33                Guasina Giorgio   61   M              ITA 7 days 08:56:02
 34             Cimarosti Gabriele   51   M              ITA 7 days 11:27:20
 35           Jouneau Pierre Henri   57   M              FRA 7 days 11:55:51
 36                Carminati Mirko   35   M              ITA 7 days 12:08:02
 37               Venneugues Alban   43   M              FRA 7 days 12:18:15
 38                      Adam Eric   42   M              GER 7 days 13:01:00
 39              Goeringer Patrick   55   M              FRA 7 days 13:13:00
 40               Anthonioz Pierre   50   M              FRA 7 days 13:14:15
 41                  Vukotic Dejan   49   M              SLO 7 days 13:16:00
 42                  Arbel Yannick   46   M              FRA 7 days 15:16:05
 43                  Palma Raphael   52   M              FRA 7 days 15:16:13
 44                  Beretta Marco   62   M              ITA 7 days 16:00:51
 45              Sibona Guendalina   38   F              ITA 7 days 16:00:55

     Performance_Seconds    Status  Year    Race
 0              446238.0  Finished  2022  TOR450
 1              483815.0  Finished  2022  TOR450
 2              483816.0  Finished  2022  TOR450
 3              491000.0  Finished  2022  TOR450
 4              525820.0  Finished  2022  TOR450
 5              527902.0  Finished  2022  TOR450
 6              533201.0  Finished  2022  TOR450
 7              533201.0  Finished  2022  TOR450
 8              543864.0  Finished  2022  TOR450
 9              546511.0  Finished  2022  TOR450
 10             560150.0  Finished  2022  TOR450
 11             579571.0  Finished  2022  TOR450
 12             581358.0  Finished  2022  TOR450
 13             581630.0  Finished  2022  TOR450
 14             586098.0  Finished  2022  TOR450
 15             586098.0  Finished  2022  TOR450
 16             586099.0  Finished  2022  TOR450
 17             586320.0  Finished  2022  TOR450
 18             589251.0  Finished  2022  TOR450
 19             596686.0  Finished  2022  TOR450
 20             598589.0  Finished  2022  TOR450
 21             605068.0  Finished  2022  TOR450
 22             605072.0  Finished  2022  TOR450
 23             608265.0  Finished  2022  TOR450
 24             609556.0  Finished  2022  TOR450
 25             616225.0  Finished  2022  TOR450
 26             618196.0  Finished  2022  TOR450
 27             620100.0  Finished  2022  TOR450
 28             621084.0  Finished  2022  TOR450
 29             621085.0  Finished  2022  TOR450
 30             624059.0  Finished  2022  TOR450
 31             626948.0  Finished  2022  TOR450
 32             626948.0  Finished  2022  TOR450
 33             636962.0  Finished  2022  TOR450
 34             646040.0  Finished  2022  TOR450
 35             647751.0  Finished  2022  TOR450
 36             648482.0  Finished  2022  TOR450
 37             649095.0  Finished  2022  TOR450
 38             651660.0  Finished  2022  TOR450
 39             652380.0  Finished  2022  TOR450
 40             652455.0  Finished  2022  TOR450
 41             652560.0  Finished  2022  TOR450
 42             659765.0  Finished  2022  TOR450
 43             659773.0  Finished  2022  TOR450
 44             662451.0  Finished  2022  TOR450
 45             662455.0  Finished  2022  TOR450  ,
 'TOR450_2022_HOTEL_ITALIA':                          Name  Age Sex ITRA_Nationality     Performance  \
 0              Guilera Monica   43   F              ESP 7 days 01:25:45
 1                  Mallol Luc   45   M              FRA 7 days 01:57:20
 2                Piazzo Mario   44   M              ITA 7 days 01:57:24
 3           Higueret Stephane   54   M              FRA 7 days 01:57:32
 4               Simard Arnaud   49   M              FRA 7 days 03:10:04
 5                Dorne Franck   58   M              FRA 7 days 03:10:19
 6             Poupinet Benoit   55   M              FRA 7 days 06:10:01
 7             Ponce Sebastien   47   M              FRA 7 days 06:10:09
 8           Traina Christophe   50   M              BEL 7 days 06:10:19
 9   Angel Andrade Julio Cesar   56   M              MEX 7 days 06:46:42
 10          Plantefeve Gaetan   51   M              FRA 7 days 06:55:53

     Performance_Seconds                    Status  Year    Race
 0              609945.0  Finished at Hotel Italia  2022  TOR450
 1              611840.0  Finished at Hotel Italia  2022  TOR450
 2              611844.0  Finished at Hotel Italia  2022  TOR450
 3              611852.0  Finished at Hotel Italia  2022  TOR450
 4              616204.0  Finished at Hotel Italia  2022  TOR450
 5              616219.0  Finished at Hotel Italia  2022  TOR450
 6              627001.0  Finished at Hotel Italia  2022  TOR450
 7              627009.0  Finished at Hotel Italia  2022  TOR450
 8              627019.0  Finished at Hotel Italia  2022  TOR450
 9              629202.0  Finished at Hotel Italia  2022  TOR450
 10             629753.0  Finished at Hotel Italia  2022  TOR450  ,
 'TOR450_2021':                          Name  Age Sex ITRA_Nationality     Performance  \
 0         Gabioud Jules Henry   34   M              CHE 5 days 18:18:00
 1                   Papi Luca   41   M              ITA 5 days 18:18:00
 2              Case Stephanie   39   F              CAN 6 days 11:06:55
 3      Beletoiu Claudiu Ionel   30   M              ROU 6 days 14:24:23
 4           Gonzalez Fernando   47   M              ESP 6 days 14:45:14
 5     Bombenger Jean Francois   42   M              FRA 6 days 16:14:17
 6             Minoggio Sergio   56   M              ITA 6 days 19:32:03
 7        Alvarez Perez Miguel   59   M              ESP 6 days 20:20:51
 8                Lauret Denis   48   M              FRA 6 days 20:37:30
 9                Javega David   37   M              ESP 6 days 20:40:53
 10              Plavan Marina   60   F              ITA 6 days 21:29:55
 11             Sciebura Pawel   44   M              POL 7 days 01:04:18
 12         Fohrmeister Volker   36   M              GER 7 days 05:28:38
 13                 Neale Matt   50   M              GBR 7 days 06:46:20
 14             Perez Philippe   53   M              FRA 7 days 06:46:51
 15          Olivson Oleksandr   58   M              UKR 7 days 07:43:45
 16           Bedhet Guillaume   42   M              FRA 7 days 09:36:09
 17            Moreau Matthieu   41   M              FRA 7 days 10:22:36
 18             Heideck Daniel   39   M              GER 7 days 12:26:26
 19          Teuscher Christof   49   M              USA 7 days 15:01:05
 20            Stephane Poulin   51   M              CAN 7 days 15:01:34
 21            Oeillet Sylvain   46   M              FRA 7 days 15:05:51
 22                Simao Diogo   42   M              PRT 7 days 15:46:04
 23             Hjelmer Magnus   40   M              SWE 7 days 16:00:54
 24           Tribolo Philippe   46   M              FRA 7 days 16:24:31
 25       Macchiavello Giorgio   56   M              ITA 7 days 16:31:07
 26             Raucy Emmanuel   44   M              BEL 7 days 17:00:24
 27          Traina Christophe   49   M              BEL 7 days 17:00:24
 28           Isernia Ruggiero   52   M              ITA 7 days 17:37:40
 29            Ponce Sebastien   46   M              FRA 7 days 18:50:41
 30           Wendling Vincent   50   M              FRA 7 days 18:50:41
 31              Anderson John   43   M              USA             NaT
 32  Angel Andrade Julio Cesar   55   M              MEX             NaT
 33           Belin Christophe   51   M              FRA             NaT
 34          Buche Jean Pascal   49   M              BEL             NaT
 35           Buzzolan Corrado   57   M              ITA             NaT
 36             Dufour Olivier   46   M              MON             NaT
 37              Ferrari Fabio   54   M              ITA             NaT
 38               Gaetani Elio   36   M              ITA             NaT
 39           Gallizia Michele   59   M              ITA             NaT
 40           Hjelmstrom Peter   48   M              SWE             NaT
 41             Holst Benjamin   51   M              DEN             NaT
 42            Iotti Sebastien   46   M              FRA             NaT
 43            Jeanclaude Eric   57   M              FRA             NaT
 44                 Kriska Jan   54   M              USA             NaT
 45              LHeureux Yvan   47   M              CAN             NaT
 46      Marzotto Ita Emanuela   58   F              ITA             NaT
 47             Petersen Heine   58   M              DNK             NaT
 48             Puiati Stefano   57   M              ITA             NaT
 49             Renson Patrice   44   M              BEL             NaT
 50              Rinaldo Alfio   63   M              ITA             NaT
 51           Romboletti Oscar   63   M              ITA             NaT
 52         Sanguineti Charlie   47   M              ITA             NaT
 53              Szymik Marcin   48   M              POL             NaT
 54                Urizar Jose   55   M              SUI             NaT
 55  Van Der Hoeven Jan Jilles   55   M              ARE             NaT

     Performance_Seconds    Status  Year    Race
 0              497880.0  Finished  2021  TOR450
 1              497880.0  Finished  2021  TOR450
 2              558415.0  Finished  2021  TOR450
 3              570263.0  Finished  2021  TOR450
 4              571514.0  Finished  2021  TOR450
 5              576857.0  Finished  2021  TOR450
 6              588723.0  Finished  2021  TOR450
 7              591651.0  Finished  2021  TOR450
 8              592650.0  Finished  2021  TOR450
 9              592853.0  Finished  2021  TOR450
 10             595795.0  Finished  2021  TOR450
 11             608658.0  Finished  2021  TOR450
 12             624518.0  Finished  2021  TOR450
 13             629180.0  Finished  2021  TOR450
 14             629211.0  Finished  2021  TOR450
 15             632625.0  Finished  2021  TOR450
 16             639369.0  Finished  2021  TOR450
 17             642156.0  Finished  2021  TOR450
 18             649586.0  Finished  2021  TOR450
 19             658865.0  Finished  2021  TOR450
 20             658894.0  Finished  2021  TOR450
 21             659151.0  Finished  2021  TOR450
 22             661564.0  Finished  2021  TOR450
 23             662454.0  Finished  2021  TOR450
 24             663871.0  Finished  2021  TOR450
 25             664267.0  Finished  2021  TOR450
 26             666024.0  Finished  2021  TOR450
 27             666024.0  Finished  2021  TOR450
 28             668260.0  Finished  2021  TOR450
 29             672641.0  Finished  2021  TOR450
 30             672641.0  Finished  2021  TOR450
 31                  NaN       DNF  2021  TOR450
 32                  NaN       DNF  2021  TOR450
 33                  NaN       DNF  2021  TOR450
 34                  NaN       DNF  2021  TOR450
 35                  NaN       DNF  2021  TOR450
 36                  NaN       DNF  2021  TOR450
 37                  NaN       DNF  2021  TOR450
 38                  NaN       DNF  2021  TOR450
 39                  NaN       DNF  2021  TOR450
 40                  NaN       DNF  2021  TOR450
 41                  NaN       DNF  2021  TOR450
 42                  NaN       DNF  2021  TOR450
 43                  NaN       DNF  2021  TOR450
 44                  NaN       DNF  2021  TOR450
 45                  NaN       DNF  2021  TOR450
 46                  NaN       DNF  2021  TOR450
 47                  NaN       DNF  2021  TOR450
 48                  NaN       DNF  2021  TOR450
 49                  NaN       DNF  2021  TOR450
 50                  NaN       DNF  2021  TOR450
 51                  NaN       DNF  2021  TOR450
 52                  NaN       DNF  2021  TOR450
 53                  NaN       DNF  2021  TOR450
 54                  NaN       DNF  2021  TOR450
 55                  NaN       DNF  2021  TOR450  ,
 'TOR450_2019':                  Name  Age Sex ITRA_Nationality     Performance  \
 0           Papi Luca   39   M              ITA 5 days 14:10:01
 1      Richard Victor   33   M              BEL 5 days 19:46:59
 2        Ono Masahiro   38   M              JPN 5 days 20:22:52
 3        Dove Matthew   35   M              RSA 6 days 13:36:52
 4        Kuchimi Taro   38   M              JPN 6 days 14:22:48
 ..                ...  ...  ..              ...             ...
 95    Thiebat Orlando   65   M              ITA             NaT
 96       Thierry Ador   48   M              FRA             NaT
 97   Tribolo Philippe   44   M              FRA             NaT
 98   Viglino Frederic   48   M              FRA             NaT
 99  Zapata Munoz Juan   46   M              ESP             NaT

     Performance_Seconds    Status  Year    Race
 0              483001.0  Finished  2019  TOR450
 1              503219.0  Finished  2019  TOR450
 2              505372.0  Finished  2019  TOR450
 3              567412.0  Finished  2019  TOR450
 4              570168.0  Finished  2019  TOR450
 ..                  ...       ...   ...     ...
 95                  NaN       DNF  2019  TOR450
 96                  NaN       DNF  2019  TOR450
 97                  NaN       DNF  2019  TOR450
 98                  NaN       DNF  2019  TOR450
 99                  NaN       DNF  2019  TOR450

 [100 rows x 9 columns]}

In [8]:
# Append using pd.concat
TORX_itra_df = pd.concat(TORX_itra_df)
TORX_itra_df = TORX_itra_df.reset_index(drop = True)
TORX_itra_df.isna().sum()

Name                     0
Age                      0
Sex                      0
ITRA_Nationality         0
Performance            273
Performance_Seconds    273
Status                   0
Year                     0
Race                     0
dtype: int64

In [9]:
years_list = TORX_itra_df['Year'].unique()
race_list = TORX_itra_df['Race'].unique()

for race in races:
    for year in years_list:
        year_df = TORX_itra_df[(TORX_itra_df['Year'] == year) &
                              (TORX_itra_df['Race'] == race)]
        status_df = year_df['Status'].value_counts()
        
        if race == 'TOR450' and year in [ 
            #'2020', # cancelled due to covid
         '2018', '2017', '2016', 
         '2015', 
         '2014', '2013', '2012', '2011', '2010']:
            pass
        else:
            print(race, year,'\n',status_df, '\n', '*'*40)

TOR450 2024
 DNF         100
Finished     68
Name: Status, dtype: int64
 ****************************************
TOR450 2023
 DNF         88
Finished    85
Name: Status, dtype: int64
 ****************************************
TOR450 2022
 Finished                    46
Finished at Hotel Italia    11
Name: Status, dtype: int64
 ****************************************
TOR450 2021
 Finished    31
DNF         25
Name: Status, dtype: int64
 ****************************************
TOR450 2019
 DNF         60
Finished    40
Name: Status, dtype: int64
 ****************************************

## EDA of ITRA

In [10]:
TORX_itra_df[TORX_itra_df['Sex'].isna()]

Empty DataFrame
Columns: [Name, Age, Sex, ITRA_Nationality, Performance, Performance_Seconds, Status, Year, Race]
Index: []

In [11]:
TORX_itra_df[TORX_itra_df['Name'] == 'D Haene Francois']

Empty DataFrame
Columns: [Name, Age, Sex, ITRA_Nationality, Performance, Performance_Seconds, Status, Year, Race]
Index: []

In [12]:
TORX_itra_df[TORX_itra_df['Name'] == 'Tierney Paul']

,Name,Age,Sex,ITRA_Nationality,Performance,Performance_Seconds,Status,Year,Race
162,Tierney Paul,42,M,IRL,NaT,NaN,DNF,2024,TOR450
174,Tierney Paul,41,M,IRL,5 days 15:22:00,487320.0,Finished,2023,TOR450
344,Tierney Paul,40,M,IRL,5 days 16:23:20,491000.0,Finished,2022,TOR450

In [13]:
TORX_itra_df[TORX_itra_df['Name'].str.contains('Girolami Paolo')]

Empty DataFrame
Columns: [Name, Age, Sex, ITRA_Nationality, Performance, Performance_Seconds, Status, Year, Race]
Index: []

In [14]:
# grabbing all finishers 
TORX_itra_df['Performance'] = TORX_itra_df['Performance'].astype('str')



for race in ['TOR130', 'TOR330', 'TOR450']:
    df = TORX_itra_df[TORX_itra_df['Race'] == race]
    print(df.head)
    # # Save the result
    df.to_excel(f'{race} Data/5. Clean Data for Data Visualisation/{race}_itra_including_DNF.xlsx' , index = False)

<bound method NDFrame.head of Empty DataFrame
Columns: [Name, Age, Sex, ITRA_Nationality, Performance, Performance_Seconds, Status, Year, Race]
Index: []>
<bound method NDFrame.head of Empty DataFrame
Columns: [Name, Age, Sex, ITRA_Nationality, Performance, Performance_Seconds, Status, Year, Race]
Index: []>
<bound method NDFrame.head of                    Name Age Sex ITRA_Nationality      Performance  \
0           Erwee Tiaan  37   M              RSA  5 days 02:09:41
1    Fohrmeister Volker  39   M              GER  5 days 18:32:15
2    Roncato Alessandro  44   M              ITA  5 days 23:01:51
3          Bero Stephan  53   M              BEL  6 days 06:11:04
4          Galve Javier  42   M              ESP  6 days 08:17:34
..                  ...  ..  ..              ...              ...
549     Thiebat Orlando  65   M              ITA              NaT
550        Thierry Ador  48   M              FRA              NaT
551    Tribolo Philippe  44   M              FRA              NaT
552    Viglino Frederic  48   M              FRA              NaT
553   Zapata Munoz Juan  46   M              ESP              NaT

     Performance_Seconds    Status  Year    Race
0               439781.0  Finished  2024  TOR450
1               498735.0  Finished  2024  TOR450
2               514911.0  Finished  2024  TOR450
3               540664.0  Finished  2024  TOR450
4               548254.0  Finished  2024  TOR450
..                   ...       ...   ...     ...
549                  NaN       DNF  2019  TOR450
550                  NaN       DNF  2019  TOR450
551                  NaN       DNF  2019  TOR450
552                  NaN       DNF  2019  TOR450
553                  NaN       DNF  2019  TOR450

[554 rows x 9 columns]>

### Extracting only Finishers

In [30]:
# TORX_itra_df
TORX_itra_no_DNF = TORX_itra_df[(TORX_itra_df['Status'] != 'DNF') &
                                (TORX_itra_df['Race'] == race) 
                                 # & (TORX_itra_df['Year'] != year)
                               ].reset_index(drop = True)
TORX_itra_no_DNF = TORX_itra_no_DNF[[
    'Name', 'ITRA_Nationality', 'Sex',  'Age', 
    'Performance','Performance_Seconds','Status', 
    'Race', 'Year'
]]

In [31]:
TORX_itra_no_DNF['Status'].unique()

array(['Finished', 'Finished at Hotel Italia'], dtype=object)

In [32]:
TORX_itra_no_DNF.isna().sum()

Name                   0
ITRA_Nationality       0
Sex                    0
Age                    0
Performance            0
Performance_Seconds    0
Status                 0
Race                   0
Year                   0
dtype: int64

In [33]:
TORX_itra_no_DNF.head()

,Name,ITRA_Nationality,Sex,Age,Performance,Performance_Seconds,Status,Race,Year
0,Erwee Tiaan,RSA,M,37,5 days 02:09:41,439781.0,Finished,TOR450,2024
1,Fohrmeister Volker,GER,M,39,5 days 18:32:15,498735.0,Finished,TOR450,2024
2,Roncato Alessandro,ITA,M,44,5 days 23:01:51,514911.0,Finished,TOR450,2024
3,Bero Stephan,BEL,M,53,6 days 06:11:04,540664.0,Finished,TOR450,2024
4,Galve Javier,ESP,M,42,6 days 08:17:34,548254.0,Finished,TOR450,2024

### This data might be used later data Visualisations

In [34]:
# grabbing all finishers 
TORX_itra_no_DNF['Performance'] = TORX_itra_no_DNF['Performance'].astype('str')

for race in ['TOR130', 'TOR330', 'TOR450']:
    df = TORX_itra_no_DNF[TORX_itra_no_DNF['Race'] == race]
    print(df.head)
    # # Save the result
    df.to_excel(f'{race} Data/5. Clean Data for Data Visualisation/{race}_itra_no_DNF.xlsx' , index = False)

<bound method NDFrame.head of Empty DataFrame
Columns: [Name, ITRA_Nationality, Sex, Age, Performance, Performance_Seconds, Status, Race, Year]
Index: []>
<bound method NDFrame.head of Empty DataFrame
Columns: [Name, ITRA_Nationality, Sex, Age, Performance, Performance_Seconds, Status, Race, Year]
Index: []>
<bound method NDFrame.head of                    Name ITRA_Nationality Sex Age      Performance  \
0           Erwee Tiaan              RSA   M  37  5 days 02:09:41
1    Fohrmeister Volker              GER   M  39  5 days 18:32:15
2    Roncato Alessandro              ITA   M  44  5 days 23:01:51
3          Bero Stephan              BEL   M  53  6 days 06:11:04
4          Galve Javier              ESP   M  42  6 days 08:17:34
..                  ...              ...  ..  ..              ...
276       Plavan Marina              ITA   F  58  7 days 19:09:19
277    Isernia Ruggiero              ITA   M  50  7 days 19:43:50
278    Gallizia Michele              ITA   M  57  7 days 19:56:38
279      Magnin Luciano              ITA   M  49  7 days 19:56:48
280       Rubaldo Paolo              ITA   M  48  7 days 20:32:40

     Performance_Seconds    Status    Race  Year
0               439781.0  Finished  TOR450  2024
1               498735.0  Finished  TOR450  2024
2               514911.0  Finished  TOR450  2024
3               540664.0  Finished  TOR450  2024
4               548254.0  Finished  TOR450  2024
..                   ...       ...     ...   ...
276             673759.0  Finished  TOR450  2019
277             675830.0  Finished  TOR450  2019
278             676598.0  Finished  TOR450  2019
279             676608.0  Finished  TOR450  2019
280             678760.0  Finished  TOR450  2019

[281 rows x 9 columns]>