In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import unicodedata

### Reading the 100x100trail Data in

In [2]:
TORX_100x100_df = pd.read_excel(f'Database Data/TORX_df_100x100_trail.xlsx' )

In [3]:
TORX_100x100_df.head()

,Bib,Name,Team,Sex,Nationality,Race,Year,Status
0,1,Colle Franco,HOKA KARPOS,M,IT,TOR330,2021,True
1,417,Jonas Russi,HOKA ONE ONE / russimassagepraxis / LEKI / GLO...,M,CH,TOR330,2021,True
2,2,Restorp Petter,La Sportiva,M,FR,TOR330,2021,True
3,10,Picinali Luca,GS Orezzo,M,IT,TOR330,2021,True
4,5,Corsini Simone,Atletica Mds Panaria Group,M,IT,TOR330,2021,True

### DUV Data

In [4]:
# # Save the result
# TORX_duv_df = pd.read_excel(f'Database Data/TORX_duv_df.xlsx')
TORX_duv_df = pd.read_csv(f'Database Data/TORX_duv_df.csv')

# Convert 'Time' to timedelta format
TORX_duv_df['Performance'] = pd.to_timedelta(TORX_duv_df['Performance'], errors='coerce')

In [5]:
TORX_duv_df.head()

,Name,DUV_ationality,Sex,DOB,Start Date,Finish Time for Tableau,Performance,Race,Year
0,Colle Franco Leo,ITA,M,1978-01-01,2023-09-10 10:00:00,2023-09-13 04:39:16,2 days 18:39:16,TOR330,2023
1,Colle Franco Leo,ITA,M,1978-01-01,2021-09-12 10:00:00,2021-09-15 04:43:57,2 days 18:43:57,TOR330,2021
2,Dominguez Ledo Javier,ESP,M,1974-01-01,2017-09-10 10:00:00,2017-09-13 05:52:15,2 days 19:52:15,TOR330,2017
3,Russi Jonas,SUI,M,1985-01-01,2021-09-12 10:00:00,2021-09-15 07:03:00,2 days 21:03:00,TOR330,2021
4,D Haene Francois,FRA,M,1985-01-01,2024-09-08 10:00:00,2024-09-11 07:08:32,2 days 21:08:32,TOR330,2024

In [6]:
TORX_duv_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5654 entries, 0 to 5653
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Name                     5654 non-null   object
 1   DUV_ationality           5654 non-null   object
 2   Sex                      5654 non-null   object
 3   DOB                      5569 non-null   object
 4   Start Date               5654 non-null   object
 5   Finish Time for Tableau  5654 non-null   object
 6   Performance              5654 non-null   timedelta64[ns]
 7   Race                     5654 non-null   object
 8   Year                     5654 non-null   int64
dtypes: int64(1), object(7), timedelta64[ns](1)
memory usage: 397.7+ KB

In [7]:
# Converting the date columns to datetime format with the specified format
TORX_duv_df['Start Date'] = pd.to_datetime(
    TORX_duv_df['Start Date'], 
    format='%Y-%m-%d %H:%M:%S'
)

TORX_duv_df['Finish Time for Tableau'] = pd.to_datetime(
    TORX_duv_df['Finish Time for Tableau'], 
    format='%Y-%m-%d %H:%M:%S'
)

In [8]:
TORX_duv_df['DUV_Performance'] = TORX_duv_df['Finish Time for Tableau'] - TORX_duv_df['Start Date']
# TORX_duv_df = TORX_duv_df.rename(columns={"Performance": "DUV_Performance"})

In [9]:
TORX_duv_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5654 entries, 0 to 5653
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Name                     5654 non-null   object
 1   DUV_ationality           5654 non-null   object
 2   Sex                      5654 non-null   object
 3   DOB                      5569 non-null   object
 4   Start Date               5654 non-null   datetime64[ns]
 5   Finish Time for Tableau  5654 non-null   datetime64[ns]
 6   Performance              5654 non-null   timedelta64[ns]
 7   Race                     5654 non-null   object
 8   Year                     5654 non-null   int64
 9   DUV_Performance          5654 non-null   timedelta64[ns]
dtypes: datetime64[ns](2), int64(1), object(5), timedelta64[ns](2)
memory usage: 441.8+ KB

In [10]:
TORX_duv_df.head()

,Name,DUV_ationality,Sex,DOB,Start Date,Finish Time for Tableau,Performance,Race,Year,DUV_Performance
0,Colle Franco Leo,ITA,M,1978-01-01,2023-09-10 10:00:00,2023-09-13 04:39:16,2 days 18:39:16,TOR330,2023,2 days 18:39:16
1,Colle Franco Leo,ITA,M,1978-01-01,2021-09-12 10:00:00,2021-09-15 04:43:57,2 days 18:43:57,TOR330,2021,2 days 18:43:57
2,Dominguez Ledo Javier,ESP,M,1974-01-01,2017-09-10 10:00:00,2017-09-13 05:52:15,2 days 19:52:15,TOR330,2017,2 days 19:52:15
3,Russi Jonas,SUI,M,1985-01-01,2021-09-12 10:00:00,2021-09-15 07:03:00,2 days 21:03:00,TOR330,2021,2 days 21:03:00
4,D Haene Francois,FRA,M,1985-01-01,2024-09-08 10:00:00,2024-09-11 07:08:32,2 days 21:08:32,TOR330,2024,2 days 21:08:32

### ITRA data

In [11]:
# TORX_itra_no_DNF = pd.read_excel(f'Database Data/TORX_itra_no_DNF.xlsx',
#                                 dtype={'Start Date': 'string',
#                                        'Finish Time for Tableau': 'string'})

TORX_itra_no_DNF = pd.read_csv(f'Database Data/TORX_itra_no_DNF.csv')

# Converting the date columns to datetime format with the specified format
TORX_itra_no_DNF['Start Date'] = pd.to_datetime(
    TORX_itra_no_DNF['Start Date'], 
    format='%Y-%m-%d %H:%M:%S'
)

TORX_itra_no_DNF['Finish Time for Tableau'] = pd.to_datetime(
    TORX_itra_no_DNF['Finish Time for Tableau'], 
    format='%Y-%m-%d %H:%M:%S'
)


TORX_itra_no_DNF.head()

,Name,ITRA_Nationality,Sex,Age,Start Date,Finish Time for Tableau,Status,Race,Year
0,D Haene Francois,FRA,M,39,2024-09-08 10:00:00,2024-09-11 07:08:32,Finished,TOR330,2024
1,Marmissolle Benat,FRA,M,43,2024-09-08 10:00:00,2024-09-11 11:10:18,Finished,TOR330,2024
2,Perrier Martin,FRA,M,34,2024-09-08 10:00:00,2024-09-11 13:35:59,Finished,TOR330,2024
3,Macchi Andrea,ITA,M,38,2024-09-08 10:00:00,2024-09-11 14:43:09,Finished,TOR330,2024
4,Hall Damian,GBR,M,49,2024-09-08 10:00:00,2024-09-11 14:49:20,Finished,TOR330,2024

In [12]:
TORX_itra_no_DNF['ITRA_Performance'] = TORX_itra_no_DNF['Finish Time for Tableau'] - TORX_itra_no_DNF['Start Date']

TORX_itra_no_DNF.head(50)

,Name,ITRA_Nationality,Sex,Age,Start Date,Finish Time for Tableau,Status,Race,Year,ITRA_Performance
0,D Haene Francois,FRA,M,39,2024-09-08 10:00:00,2024-09-11 07:08:32,Finished,TOR330,2024,2 days 21:08:32
1,Marmissolle Benat,FRA,M,43,2024-09-08 10:00:00,2024-09-11 11:10:18,Finished,TOR330,2024,3 days 01:10:18
2,Perrier Martin,FRA,M,34,2024-09-08 10:00:00,2024-09-11 13:35:59,Finished,TOR330,2024,3 days 03:35:59
3,Macchi Andrea,ITA,M,38,2024-09-08 10:00:00,2024-09-11 14:43:09,Finished,TOR330,2024,3 days 04:43:09
4,Hall Damian,GBR,M,49,2024-09-08 10:00:00,2024-09-11 14:49:20,Finished,TOR330,2024,3 days 04:49:20
5,Calais Louis,FRA,M,29,2024-09-08 10:00:00,2024-09-11 17:00:24,Finished,TOR330,2024,3 days 07:00:24
6,Hartmuth Katharina,GER,F,29,2024-09-08 10:00:00,2024-09-11 17:10:40,Finished,TOR330,2024,3 days 07:10:40
7,Eccles Lawrence,GBR,M,41,2024-09-08 10:00:00,2024-09-11 18:57:00,Finished,TOR330,2024,3 days 08:57:00
8,Verjee Sabrina,GBR,F,43,2024-09-08 10:00:00,2024-09-11 22:03:21,Finished,TOR330,2024,3 days 12:03:21
9,Bailo Berdor Jesus,ESP,M,46,2024-09-08 10:00:00,2024-09-11 22:09:12,Finished,TOR330,2024,3 days 12:09:12
10,Bannwarth Claire,FRA,F,35,2024-09-08 10:00:00,2024-09-11 23:02:47,Finished,TOR330,2024,3 days 13:02:47
11,Tidd John,ESP,M,61,2024-09-08 10:00:00,2024-09-12 00:22:35,Finished,TOR330,2024,3 days 14:22:35
12,Violett Zach,USA,M,42,2024-09-08 10:00:00,2024-09-12 01:40:02,Finished,TOR330,2024,3 days 15:40:02
13,Swanson Seth,USA,M,45,2024-09-08 10:00:00,2024-09-12 01:53:20,Finished,TOR330,2024,3 days 15:53:20
14,Letellier Jean Claude,FRA,M,51,2024-09-08 10:00:00,2024-09-12 02:40:05,Finished,TOR330,2024,3 days 16:40:05
15,Piquerez Fabien,FRA,M,37,2024-09-08 10:00:00,2024-09-12 04:34:07,Finished,TOR330,2024,3 days 18:34:07
16,Borzani Lisa,ITA,F,45,2024-09-08 10:00:00,2024-09-12 06:09:34,Finished,TOR330,2024,3 days 20:09:34
17,Tobias Krumm,GER,M,47,2024-09-08 10:00:00,2024-09-12 06:35:32,Finished,TOR330,2024,3 days 20:35:32
18,Gonczarenko Jaroslaw,POL,M,44,2024-09-08 10:00:00,2024-09-12 06:54:54,Finished,TOR330,2024,3 days 20:54:54
19,Springhetti Christian,ITA,M,42,2024-09-08 10:00:00,2024-09-12 08:15:14,Finished,TOR330,2024,3 days 22:15:14
20,Sherpa Sange,NEP,M,43,2024-09-08 10:00:00,2024-09-12 08:31:39,Finished,TOR330,2024,3 days 22:31:39
21,Marquis Patrick,ITA,M,43,2024-09-08 10:00:00,2024-09-12 09:12:26,Finished,TOR330,2024,3 days 23:12:26
22,Hourdebaigts Maxime,FRA,M,29,2024-09-08 10:00:00,2024-09-12 09:13:01,Finished,TOR330,2024,3 days 23:13:01
23,Morales Gerard,ESP,M,49,2024-09-08 10:00:00,2024-09-12 09:14:06,Finished,TOR330,2024,3 days 23:14:06
24,Taylor Natalie,GBR,F,40,2024-09-08 10:00:00,2024-09-12 09:15:03,Finished,TOR330,2024,3 days 23:15:03
25,Carreras Dorca Enric,ESP,M,47,2024-09-08 10:00:00,2024-09-12 10:44:51,Finished,TOR330,2024,4 days 00:44:51
26,Filippi Francesco,ITA,M,34,2024-09-08 10:00:00,2024-09-12 11:49:23,Finished,TOR330,2024,4 days 01:49:23
27,Weidman William,USA,M,41,2024-09-08 10:00:00,2024-09-12 12:18:29,Finished,TOR330,2024,4 days 02:18:29
28,Alotto Oliviero,ITA,M,41,2024-09-08 10:00:00,2024-09-12 13:00:20,Finished,TOR330,2024,4 days 03:00:20
29,Volpi Matteo,ITA,M,43,2024-09-08 10:00:00,2024-09-12 13:18:00,Finished,TOR330,2024,4 days 03:18:00
30,Fanchetti Omar,ITA,M,36,2024-09-08 10:00:00,2024-09-12 13:27:13,Finished,TOR330,2024,4 days 03:27:13
31,Gadaldi Fabrizio,ITA,M,51,2024-09-08 10:00:00,2024-09-12 13:27:13,Finished,TOR330,2024,4 days 03:27:13
32,Melchio Mattia Giuseppe,ITA,M,34,2024-09-08 10:00:00,2024-09-12 13:31:51,Finished,TOR330,2024,4 days 03:31:51
33,Domenighetti Nicola,SUI,M,46,2024-09-08 10:00:00,2024-09-12 13:42:15,Finished,TOR330,2024,4 days 03:42:15
34,Compagnon Julien,SUI,M,34,2024-09-08 10:00:00,2024-09-12 13:47:08,Finished,TOR330,2024,4 days 03:47:08
35,Clark Andrew,NZL,M,39,2024-09-08 10:00:00,2024-09-12 13:48:27,Finished,TOR330,2024,4 days 03:48:27
36,Rocchi Nicola,ITA,M,38,2024-09-08 10:00:00,2024-09-12 14:12:47,Finished,TOR330,2024,4 days 04:12:47
37,Le Nocher Nicolas,FRA,M,37,2024-09-08 10:00:00,2024-09-12 14:30:38,Finished,TOR330,2024,4 days 04:30:38
38,Laurent Yuri,ITA,M,27,2024-09-08 10:00:00,2024-09-12 15:22:05,Finished,TOR330,2024,4 days 05:22:05
39,Fitzgerald John,USA,M,37,2024-09-08 10:00:00,2024-09-12 15:44:04,Finished,TOR330,2024,4 days 05:44:04
40,Santin Lorenzo Franco,ITA,M,35,2024-09-08 10:00:00,2024-09-12 16:03:21,Finished,TOR330,2024,4 days 06:03:21
41,Caster Brian,USA,M,41,2024-09-08 10:00:00,2024-09-12 16:03:24,Finished,TOR330,2024,4 days 06:03:24
42,Juliussen Rasmus,DEN,M,41,2024-09-08 10:00:00,2024-09-12 16:27:01,Finished,TOR330,2024,4 days 06:27:01
43,Calcinoni Massimiliano,ITA,M,45,2024-09-08 10:00:00,2024-09-12 16:48:41,Finished,TOR330,2024,4 days 06:48:41
44,Mancisidor Igon,ESP,M,45,2024-09-08 10:00:00,2024-09-12 16:52:00,Finished,TOR330,2024,4 days 06:52:00
45,Thewes Mika,USA,F,33,2024-09-08 10:00:00,2024-09-12 17:03:05,Finished,TOR330,2024,4 days 07:03:05
46,Lejeune Emilien,FRA,M,32,2024-09-08 10:00:00,2024-09-12 17:16:40,Finished,TOR330,2024,4 days 07:16:40
47,Poirot Johan,FRA,M,41,2024-09-08 10:00:00,2024-09-12 17:16:40,Finished,TOR330,2024,4 days 07:16:40
48,Minerva Vito,ITA,M,54,2024-09-08 10:00:00,2024-09-12 17:28:17,Finished,TOR330,2024,4 days 07:28:17
49,Allen Kaitlin,USA,F,38,2024-09-08 10:00:00,2024-09-12 17:47:42,Finished,TOR330,2024,4 days 07:47:42

In [13]:
TORX_itra_no_DNF['Status'].unique()

array(['Finished', 'Finished at Rifugio Frassati', 'Finished at Bosses',
       'Finished at Hotel Italia'], dtype=object)

,Bib,Name,Team,Sex,Nationality,Race,Year,Status
712,3,Russi Jonas,HOKA / russimassagepraxis / LEKI / Julbo / Ma...,M,CH,TOR330,2022,True
713,9,Corsini Simone,Team Hoka/Mud&Snow,M,IT,TOR330,2022,True
714,5,Macchi Andrea,ATLETICA GAVIRATE - TEAM KAILAS,M,IT,TOR330,2022,True
715,12,Mattiato Andrea,NaN,M,IT,TOR330,2022,True
716,275,Verjee Sabrina,NaN,F,GB,TOR330,2022,True
...,...,...,...,...,...,...,...,...
5198,2298,Magno Fabio,Evolution Sport Team,M,IT,TOR130,2022,False
5199,2132,Molendijk Florien,NaN,F,NL,TOR130,2022,False
5200,2119,Coltellaro Antonio,Utloevents,M,IT,TOR130,2022,False
5201,2349,Asan Sercan,Novotel Bosphorus stanbul,M,TR,TOR130,2022,False
5202,2022,Sampaio Quim,Desnvel Positivo,M,PT,TOR130,2022,False

### Looking at finishers in DUV and ITRA

In [ ]:
TORX_duv_df['Year'] = TORX_duv_df['Year'].astype('str')
TORX_itra_no_DNF['Year'] = TORX_itra_no_DNF['Year'].astype('str')
TORX_100x100_df['Year'] = TORX_100x100_df['Year'].astype('str')


races = ['TOR450', 'TOR330' ]
years = ['2021', '2022', '2023', '2024']

In [65]:
for race in races:
    for year in years:
        print(race, year)
        itra_df = TORX_itra_no_DNF[(TORX_itra_no_DNF['Race'] == race) &
                                   (TORX_itra_no_DNF['Year'] == year) &
                                   # not looking at people who Finished at Rifugio Frassati or Bossess
                                   (TORX_itra_no_DNF['Status'] == 'Finished') 
                                  ]
    
        duv_df = TORX_duv_df[(TORX_duv_df['Race'] == race) &
                           (TORX_duv_df['Year'] == year) ]
        
        
        trail_df = TORX_100x100_df[(TORX_100x100_df['Race'] == race) &
                           (TORX_100x100_df['Year'] == year) &
                                  (TORX_100x100_df['Status'] == True)
                                 ]       
        
        print(itra_df.shape)
        print(duv_df.shape)
        print(trail_df.shape)
        print(itra_df.shape == duv_df.shape)
        
        print(itra_df.shape == trail_df.shape)
        print('*'*20)

TOR450 2021
(31, 10)
(31, 10)
(31, 8)
True
False
********************
TOR450 2022
(46, 10)
(46, 10)
(46, 8)
True
False
********************
TOR450 2023
(85, 10)
(85, 10)
(90, 8)
True
False
********************
TOR450 2024
(68, 10)
(68, 10)
(68, 8)
True
False
********************
TOR330 2021
(431, 10)
(431, 10)
(432, 8)
True
False
********************
TOR330 2022
(408, 10)
(408, 10)
(408, 8)
True
False
********************
TOR330 2023
(621, 10)
(621, 10)
(630, 8)
True
False
********************
TOR330 2024
(533, 10)
(533, 10)
(535, 8)
True
False
********************

#### Finding similar names for all finishers in 2022

In [68]:
year = '2022'
race = 'TOR330'


itra_df = TORX_itra_no_DNF[(TORX_itra_no_DNF['Race'] == race) &
                           (TORX_itra_no_DNF['Year'] == year) &
                           # not looking at people who Finished at Rifugio Frassati or Bossess
                           (TORX_itra_no_DNF['Status'] == 'Finished') 
                          ]

duv_df = TORX_duv_df[(TORX_duv_df['Race'] == race) &
                   (TORX_duv_df['Year'] == year) ]


trail_df = TORX_100x100_df[(TORX_100x100_df['Race'] == race) &
                   (TORX_100x100_df['Year'] == year) &
                          (TORX_100x100_df['Status'] == True)
                         ]       
print(itra_df.shape)
print(duv_df.shape)
print(trail_df.shape)

(408, 10)
(408, 10)
(408, 8)

In [70]:
# Now try merging
sub_2022_demograpic_df = pd.merge( [trail_df,duv_df, trail_df],  
                                  on=['Name', 'Sex', 'Race', 'Year'], how='outer')

sub_2022_demograpic_df

TypeError: merge() missing 1 required positional argument: 'right'

In [46]:

sub_2022_TORX_100x100_df =TORX_100x100_df[TORX_100x100_df['Year'] == '2022']


sub_2022_TORX_100x100_df = sub_2022_TORX_100x100_df[['Name', 
                                                     'Sex', 'Nationality', 'Race', 'Year', 'Status']]

In [47]:
# Dropping all redundant rows
sub_2022_TORX_100x100_df.drop_duplicates(
    keep='first', inplace=True, ignore_index=False)#
sub_2022_TORX_100x100_df = sub_2022_TORX_100x100_df.reset_index(drop = True)
# Remove leading, trailing, and extra spaces in between words
sub_2022_TORX_100x100_df['Name'] = sub_2022_TORX_100x100_df['Name'].str.strip().str.replace(r'\s+', ' ', regex=True)
sub_2022_TORX_100x100_df = sub_2022_TORX_100x100_df[(sub_2022_TORX_100x100_df['Race'] != 'TOR130')]

print('100x:',sub_2022_TORX_100x100_df.shape)

100x: (1104, 6)

In [48]:
TORX_duv_df['Year'] = TORX_duv_df['Year'].astype('str')
TORX_itra_no_DNF['Year'] = TORX_itra_no_DNF['Year'].astype('str')

sub_2022_TORX_duv_df = TORX_duv_df[TORX_duv_df['Year'] == '2022']
sub_2022_TORX_itra_no_DNF = TORX_itra_no_DNF[TORX_itra_no_DNF['Year'] == '2022']
print('ITRA:',sub_2022_TORX_itra_no_DNF.shape)
print('DUV:',sub_2022_TORX_duv_df.shape)

ITRA: (647, 10)
DUV: (454, 10)

In [51]:

sub_2022_TORX_itra_no_DNF_courmayer_finishers_only = sub_2022_TORX_itra_no_DNF[sub_2022_TORX_itra_no_DNF['Status'] == 'Finished']

print('sub_2022_TORX_itra_no_DNF_courmayer_finishers_only',sub_2022_TORX_itra_no_DNF_courmayer_finishers_only.shape)

sub_2022_TORX_itra_no_DNF_courmayer_finishers_only (454, 10)

In [26]:
# Now try merging
sub_2022_ITRA_100x_demographic_merged_df = pd.merge( sub_2022_TORX_100x100_df,
                                          sub_2022_TORX_itra_no_DNF,  on=['Name', 'Sex', 'Race', 'Year'], how='outer')

sub_2022_ITRA_100x_demographic_merged_df

,Name,Sex,Nationality,Race,Year,Status_x,ITRA_Nationality,Age,Start Date,Finish Time for Tableau,Status_y,ITRA_Performance
0,Russi Jonas,M,CH,TOR330,2022,True,SUI,37,2022-09-11 10:00:00,2022-09-14 08:31:36,Finished,2 days 22:31:36
1,Corsini Simone,M,IT,TOR330,2022,True,ITA,30,2022-09-11 10:00:00,2022-09-14 13:27:33,Finished,3 days 03:27:33
2,Macchi Andrea,M,IT,TOR330,2022,True,ITA,36,2022-09-11 10:00:00,2022-09-14 14:43:50,Finished,3 days 04:43:50
3,Mattiato Andrea,M,IT,TOR330,2022,True,ITA,44,2022-09-11 10:00:00,2022-09-14 16:22:28,Finished,3 days 06:22:28
4,Verjee Sabrina,F,GB,TOR330,2022,True,NaN,NaN,NaT,NaT,NaN,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...
1159,Rizzo Diego Francesco,M,NaN,TOR450,2022,NaN,ITA,45,2022-09-09 20:00:00,2022-09-16 03:04:24,Finished,6 days 07:04:24
1160,Laving Jean Marc,M,NaN,TOR450,2022,NaN,FRA,43,2022-09-09 20:00:00,2022-09-16 03:48:31,Finished,6 days 07:48:31
1161,Beletoiu Claudiu Ionel,M,NaN,TOR450,2022,NaN,ROU,31,2022-09-09 20:00:00,2022-09-16 07:35:50,Finished,6 days 11:35:50
1162,David Mousseaux,M,NaN,TOR450,2022,NaN,FRA,52,2022-09-09 20:00:00,2022-09-16 18:16:29,Finished,6 days 22:16:29
1163,Guilera Monica,F,NaN,TOR450,2022,NaN,ESP,43,2022-09-09 20:00:00,2022-09-16 21:25:45,Finished at Hotel Italia,7 days 01:25:45

In [38]:
# Helper function to find similar names and fill NaN values
def merge_similar_rows(df, threshold=80):
    merged_rows = []
    used_indices = set()
    
    for idx, row in df.iterrows():
        if idx in used_indices:
            continue
            
        # Find potential matches with a high similarity score
        potential_matches = process.extract(row['Name'], df['Name'], limit=None)
        
        # Unpack match and score only
        close_matches = [match for match, score, _ in potential_matches if score >= threshold]
        
        # Filter the DataFrame based on close matches
        matching_rows = df[df['Name'].isin(close_matches)]
        
        # Combine the rows, filling NaNs
        merged_row = matching_rows.ffill().bfill().iloc[0]
        merged_rows.append(merged_row)
        
        # Mark indices as used
        used_indices.update(matching_rows.index)
    
    return pd.DataFrame(merged_rows)

             Name Sex Nationality    Race  Year Status_x ITRA_Nationality  \
0  Verjee Sabrina   F          GB  TOR330  2022     True              GBR

    Age          Start Date Finish Time for Tableau  Status_y ITRA_Performance
0  41.0 2022-09-11 10:00:00     2022-09-14 18:19:38  Finished  3 days 08:19:38

In [40]:
# Apply the function to merge similar rows
df_cleaned = merge_similar_rows(sub_2022_ITRA_100x_demographic_merged_df)
df_cleaned = df_cleaned.reset_index(drop = True)
print(df_cleaned)

                          Name Sex Nationality    Race  Year  Status_x  \
0                  Russi Jonas   M          CH  TOR330  2022      True
1               Corsini Simone   M          IT  TOR330  2022      True
2                Macchi Andrea   M          IT  TOR330  2022      True
3              Mattiato Andrea   M          IT  TOR330  2022      True
4               Verjee Sabrina   F          GB  TOR330  2022      True
..                         ...  ..         ...     ...   ...       ...
971      Riserva Riserva Grant   F          NZ  TOR330  2022     False
972     Thompson Mark Thompson   M          GB  TOR330  2022      True
973          Byrne Simon Peter   M          AU  TOR330  2022      True
974  Scagliotti Orlandini Luca   M          IT  TOR330  2022      True
975        Guilera Sala Monica   F          ES  TOR450  2022     False

    ITRA_Nationality  Age          Start Date Finish Time for Tableau  \
0                SUI   37 2022-09-11 10:00:00     2022-09-14 08:31:36
1                ITA   30 2022-09-11 10:00:00     2022-09-14 13:27:33
2                ITA   36 2022-09-11 10:00:00     2022-09-14 14:43:50
3                ITA   44 2022-09-11 10:00:00     2022-09-14 16:22:28
4                GBR   41 2022-09-11 10:00:00     2022-09-14 18:19:38
..               ...  ...                 ...                     ...
971              NaN  NaN                 NaT                     NaT
972              GBR   56 2022-09-11 10:00:00     2022-09-16 03:18:18
973              GBR   50 2022-09-11 10:00:00     2022-09-16 14:49:47
974              ITA   45 2022-09-11 10:00:00     2022-09-16 14:12:48
975              ESP   43 2022-09-09 20:00:00     2022-09-16 21:25:45

                     Status_y ITRA_Performance
0                    Finished  2 days 22:31:36
1                    Finished  3 days 03:27:33
2                    Finished  3 days 04:43:50
3                    Finished  3 days 06:22:28
4                    Finished  3 days 08:19:38
..                        ...              ...
971                       NaN              NaT
972                  Finished  4 days 17:18:18
973                  Finished  5 days 04:49:47
974                  Finished  5 days 04:12:48
975  Finished at Hotel Italia  7 days 01:25:45

[976 rows x 12 columns]

In [45]:
sorted(list(df_cleaned['Name'][df_cleaned['Start Date'].isna()].unique()))

['Aakre Eivind',
 'Ageorges Fabrice',
 'Alba Raimondo',
 'Allocca Giuseppe',
 'Ambrosini Luciano',
 'Amerio Camilla',
 'Andreu Casademont Roger',
 'Arai Sunao',
 'Aramendi Mikel',
 'Argote Enriquez Rafael M',
 'Arlot Christophe',
 'Artaz Tiziano',
 'Artoni Tito',
 'Astete Veronica',
 'Audran Frederic',
 'Bagna Mirko Mario',
 'Balsamello Matteo',
 'Bangwiroonrag Wannachai',
 'Baptiste Fabrice',
 'Barbe Patrick',
 'Bastiani Berengere',
 'Bastrentaz Claudio',
 'Bayios Ioannis',
 'Bergantin Matteo',
 'Berglund Marcus',
 'Bernard Jean Marie',
 'Bernard Nicolas',
 'Biard Antoine',
 'Bieller Didier',
 'Bihag Cheryl',
 'Bisazza Tiziano',
 'Boaglio Lelio',
 'Bolduc Claudine',
 'Bolpagni Herivan',
 'Bolsi Francesco',
 'Bonacci Cristiano',
 'Bonacina Marco Giovanni',
 'Bonn Rene',
 'Borella Yanez',
 'Borgis Luigi Guerino',
 'Borzani Lisa',
 'Bosatelli Oliviero Ignazio',
 'Bosio Claudine',
 'Bourget Mickael',
 'Brancaleone Barbara',
 'Bremmers Paul',
 'Brugnani Fabio',
 'Brussolo Simone',
 'Buckingham Richard',
 'Burderi Edoardo',
 'Calabro Salvatore',
 'Calcinoni Massimiliano',
 'Calgaro Gaetano',
 'Camara Jean Louis',
 'Campanile Roberto',
 'Cantarelli Nicola',
 'Canton Annalisa',
 'Carbogno Luigia',
 'Carelli Massimo',
 'Carminati Giancarlo',
 'Carrara Fabio',
 'Carusi Fabio',
 'Castanon Noe',
 'Castro Andre',
 'Castro Stephane',
 'Cattaneo Martino',
 'Cazzaniga Giovanni',
 'Cejovic Dragana',
 'Cestino Saez Enrique',
 'Challancin Patrick',
 'Chankseliani Larissa',
 'Cheang William',
 'Ciantra Maurizio',
 'Cichecki Jakub',
 'Clerici Angelo',
 'Colle Franco',
 'Collison Kim Collison',
 'Colpo Simona',
 'Cornaro Nevio',
 'Cornaz Mauro',
 'Corso Elia',
 'Corvisiero Michaela',
 'Coucourde Daniele',
 'Criado Toca Pablo',
 'Crucitti Pasqualino',
 'Cucchi Sergio',
 'D Angelo Yuri',
 'D Eugenio Dario',
 'Dainese Federico',
 'Dalbard Remo',
 'Dari Denis',
 'De Los Angeles Segui Juan Jose',
 'Defecinski Radoslaw',
 'Delfau Julien',
 'Della Pace Dario',
 'Devine Keri',
 'Di Pasqua Alessandra',
 'Distort Corrado',
 'Do Duc',
 'Domnin Erard',
 'Drozdiak Nick',
 'Dumand Christopher',
 'Ekse Kaisa',
 'Fantini Cristian',
 'Fauvarque Gaetan',
 'Fauvarque Thierry',
 'Favre Silvana',
 'Fernandez Galdon Encarna',
 'Ferrario Giuliana',
 'Fetalidou Katerina',
 'Ficek Roman',
 'Flamini Erik',
 'Foiadelli Elio',
 'Fontana Fabio',
 'Fornoni Giovanni',
 'Forster Michael',
 'Franz Bassanesi Gabriel',
 'Gaignet Frederic',
 'Galea Eric',
 'Galov Pirin',
 'Garnett Ian',
 'Gasparini Thierry',
 'Gau Jiahorng',
 'Geist Bill',
 'Genoud Patrick',
 'Gentilini Iader',
 'Georges Claude',
 'Gerbin Ely',
 'Gerhard Hiebaum',
 'Ghio Alfredo',
 'Giersberg Burkhard',
 'Girard Norbert',
 'Giuliani Stefania',
 'Gogniat Magali',
 'Gong Mingcheng',
 'Gosney Brett',
 'Gosney Melissa',
 'Graff Katie',
 'Gramajo Tobias Ernesto',
 'Gribaldo Massimiliano',
 'Grisone Benedetta',
 'Gualeni Maurizio',
 'Guery Benjamin',
 'Guffon Alain',
 'Gvozden Vladimir',
 'Gyalai Zsolt',
 'Haas Nadia',
 'Hardouin Monroy Ferdinando',
 'Hartmann Johannes',
 'Heid Jens',
 'Heideck Daniel',
 'Heil Thomas',
 'Hennessy Martin',
 'Hofer Florian',
 'Hofman Jiri',
 'Hsueh Jack',
 'Humphrey Andy',
 'Jennings Emma',
 'Joncheray Igor',
 'Jongens Willemijn',
 'Juglair Julien',
 'Junnila Niko',
 'Karbalaii Mahya',
 'Keogh Bobby',
 'Kerton Allen',
 'Kienzl Peter',
 'Kinoshita Yoshiki',
 'Kissiyar Ouns',
 'Knapp Christian',
 'Knodel Ralf',
 'Koehling Sebastien',
 'Kollassa Marina',
 'Kulot Emilio',
 'Lacerra Fiorenzo',
 'Lambin Claude',
 'Lauret Denis',
 'Le Gal Matthieu',
 'Lemmens Eric',
 'Leroy Philippe',
 'Letourneau Benoit',
 'Lonigro Enrico',
 'Lyu Zemin',
 'Maccherini Tatiana',
 'Machet Dominique',
 'Macias Diaz Albert',
 'Maffeis Maria Renata',
 'Magnoni Fabrizio',
 'Mamic Andi',
 'Maniello Christian',
 'Marois Martine',
 'Marquis Micha',
 'Marti Pau',
 'Martin Toro Francesc',
 'Marziano Gianfranco',
 'Massi Valerio',
 'Massie Jason',
 'Mattijssen Jose Wilhelmina Theodora Maria',
 'Maxim Ioan',
 'Mc Loughlin Seamus',
 'Mcdonagh Terence',
 'Mcwilliams Louise',
 'Meehan Sean',
 'Menti Federica',
 'Merk Markus',
 'Meynet Mauro',
 'Micheletto Paolo',
 'Michels Erik',
 'Michetti Carlo',
 'Minoggio Sergio',
 'Minoggio Stefano',
 'Moison Christian',
 'Moison Morgan',
 'Momic Dusko',
 'Moro Franco',
 'Moscatelli Edoardo',
 'Nacci Mauro',
 'Nakajima Mizue',
 'Nakit Somkid',
 'Nancoz Michael',
 'Noma Yoko',
 'Norfolk Amy',
 'Noseda Vittorio',
 'Noville Maurice',
 'Nozaki Yayoi',
 'Occhetti Fabrizio',
 'Occhipinti Pietro',
 'Oeillet Sylvain',
 'Ognibene Fabrizio',
 'Paganelli Melissa',
 'Pagazzi Gianluca',
 'Paladin Tiziano',
 'Parisio Patrizio',
 'Patrocle Stefano',
 'Pattison Gary',
 'Pazzaglia Roberto',
 'Pedretti Sergio',
 'Pedron Fabio',
 'Peleg Dan',
 'Penneman Aurelien',
 'Penov Vladimir',
 'Penserini Maurizio',
 'Perez Noval Celedonio',
 'Peron Roberta',
 'Petrucci Guido',
 'Piasentin Riccardo',
 'Pieri Giorgio',
 'Pierobon Sergio',
 'Pinamonti Alex',
 'Pivert Jean Baptiste',
 'Platon Herve',
 'Plavan Marina',
 'Poiroux Cecile',
 'Presutti Saba Emanuele',
 'Probst Florian',
 'Radin Tatiana',
 'Ramella Bagneri Fausto',
 'Ramsey Alexander',
 'Rao Shashwat',
 'Ratelade Thierry',
 'Rawnsley Aaron',
 'Rein Steve',
 'Riccato Mauro',
 'Rick Janssen',
 'Rigodanza Patrizio',
 'Rinaldo Alfio',
 'Riserva Riserva Grant',
 'Rodriguez Pinol Francisco Javier',
 'Roig Josep',
 'Rollo Daniele Stefano',
 'Rotondo Bartolomeo',
 'Rouk Olle',
 'Roukema Arjan',
 'Ruggeri Giusepper',
 'Rzeszotko Leszek',
 'Rzeszotko Marzena',
 'Sadie Chris',
 'Samain Anthony',
 'Sanchez Bustara Alberto',
 'Sanguineti Charlie',
 'Sanguinetti Matias',
 'Saulo Alberto',
 'Sauvage Pierre',
 'Savinel Guillaume',
 'Scaglia Alessandro',
 'Schreiber Tobias',
 'Schumacher Gabi',
 'Sebban Marc',
 'Sebillet Franck',
 'Secondino Axel',
 'Seneci Maurizio',
 'Serratore Vincenzo',
 'Siawhua Lim',
 'Simao Diogo',
 'Skoniecki Michal',
 'Soares Rui',
 'Sottero Roberto',
 'Spivak Roman',
 'Stivanello Mariano',
 'Strachan Douglas',
 'Straub Simon',
 'Stypula Elaine',
 'Szramowiat Marek',
 'Takeda Kentaro',
 'Tamura Yonehiro',
 'Tapella Emanuele',
 'Tessari Cesarita',
 'Tesser Mike',
 'Theoharidou Natasha',
 'Thewes Mika',
 'Thompson Mark Thompson',
 'Torelli Roberto',
 'Tribolo Philippe',
 'Tsang Mabel',
 'Uberto Francesco',
 'Usanawasin Sakuna',
 'Utsumi Katsuaki',
 'Vale Antonio',
 'Valipirtti Vesa',
 'Van Beem Chris',
 'Van Reen Gijs',
 'Vaschetto Alberto',
 'Vazzoler Enrico',
 'Venturelli Fausto',
 'Vercelli Paolo',
 'Vidal Claude',
 'Vioud Jerome',
 'Vorti Alessio',
 'Wang Yi',
 'Warchol Alexandre',
 'Waterworth Graeme',
 'Weber Tim',
 'Wood Alan',
 'Yoshida Yosuke',
 'Yoshimoto Makoto',
 'Zhou Zhizhong',
 'Zlabys Vaidas',
 'okic Zudana']

### Demographics

In [ ]:
years = ['2021', '2022', '2023', '2024']

In [ ]:
   
TORX_itra_no_DNF['Year'] = TORX_itra_no_DNF['Year'].astype('str')
sub_2021_2024_TORX_itra_no_DNF = TORX_itra_no_DNF[(TORX_itra_no_DNF['Year'].isin(years))   ]
print(sub_2021_2024_TORX_itra_no_DNF['Year'].unique())

ITRA_TORX_demographics_df = sub_2021_2024_TORX_itra_no_DNF[['Name', 'Sex', 'ITRA_Nationality', 'Status']]
# Dropping all redundant rows
ITRA_TORX_demographics_df.drop_duplicates( keep='first', inplace=True, ignore_index=False)#
ITRA_TORX_demographics_df = ITRA_TORX_demographics_df.reset_index(drop = True)

ITRA_TORX_demographics_df['Name'] = ITRA_TORX_demographics_df['Name'].str.strip().str.replace(r'\s+', ' ', regex=True)

print(ITRA_TORX_demographics_df[ITRA_TORX_demographics_df['Name'] == 'Girolami Paolo'])

print(ITRA_TORX_demographics_df.shape)

In [ ]:

TORX_duv_df['Year'] = TORX_duv_df['Year'].astype('str')
sub_2021_2024_TORX_duv_df = TORX_duv_df[TORX_duv_df['Year'].isin(years)]
print(sub_2021_2024_TORX_duv_df['Year'].unique())

DUV_TORX_demographics_df = sub_2021_2024_TORX_duv_df[['Name', 'Sex', 'DUV_ationality']]


# Dropping all redundant rows
DUV_TORX_demographics_df.drop_duplicates( keep='first', inplace=True, ignore_index=False)#
DUV_TORX_demographics_df = DUV_TORX_demographics_df.reset_index(drop = True)

DUV_TORX_demographics_df['Name'] = DUV_TORX_demographics_df['Name'].str.strip().str.replace(r'\s+', ' ', regex=True)


print(DUV_TORX_demographics_df[DUV_TORX_demographics_df['Name'] == 'Girolami Paolo'])
print(DUV_TORX_demographics_df.shape)

In [ ]:


TORX_100x100_df['Year'] = TORX_100x100_df['Year'].astype('str')
sub_2021_2024_TORX_100x100_df = TORX_100x100_df[((TORX_100x100_df['Year']== '2021') &
                                                (TORX_100x100_df['Status'] !='DNF' ) ) |
                                                (TORX_100x100_df['Year']== '2022')  |
                                                ((TORX_100x100_df['Year']== '2023') &
                                                (TORX_100x100_df['Status'] !='DNF' ) ) |
                                                ((TORX_100x100_df['Year']== '2024') &
                                                (TORX_100x100_df['Status'] !='DNF' ) )
                                               ]
sub_2021_2024_TORX_100x100_df
sub_2021_2024_TORX_100x100_df = sub_2021_2024_TORX_100x100_df[(sub_2021_2024_TORX_100x100_df['Race'] != 'TOR130')  ]
print(sub_2021_2024_TORX_100x100_df['Year'].unique())
print(sub_2021_2024_TORX_100x100_df['Year'].shape)

_100_TORX_demographics_df = sub_2021_2024_TORX_100x100_df[['Name', 'Sex', 'Nationality']]


# Dropping all redundant rows
_100_TORX_demographics_df.drop_duplicates( keep='first', inplace=True, ignore_index=False)#
_100_TORX_demographics_df = _100_TORX_demographics_df.reset_index(drop = True)
# Remove leading, trailing, and extra spaces in between words
_100_TORX_demographics_df['Name'] = _100_TORX_demographics_df['Name'].str.strip().str.replace(r'\s+', ' ', regex=True)


print(_100_TORX_demographics_df[_100_TORX_demographics_df['Name'] == 'Girolami Paolo'])
print(_100_TORX_demographics_df.shape)

In [ ]:
TORX_100x100_df['Race'].unique()

In [ ]:
# Now try merging
DUV_100x_demographic_merged_df = pd.merge( _100_TORX_demographics_df, 
                                 DUV_TORX_demographics_df, on=['Name', 'Sex'], how='outer')

print(DUV_100x_demographic_merged_df)

In [ ]:
print(_100_TORX_demographics_df.shape)
print(DUV_TORX_demographics_df.shape)

In [ ]:
# Now try merging
ITRA_DUV_100x_demographic_merged_df = pd.merge( DUV_100x_demographic_merged_df, 
                                 ITRA_TORX_demographics_df, on=['Name', 'Sex'], how='outer')

print(ITRA_DUV_100x_demographic_merged_df)

In [ ]:
TORX_100x100_df[TORX_100x100_df['Nationality'].isna()]

In [ ]:
no_match = ITRA_DUV_100x_demographic_merged_df[(ITRA_DUV_100x_demographic_merged_df['Nationality'].isna())
                                ].reset_index(drop = True)

no_match

In [ ]:
for i in sorted(list(ITRA_DUV_100x_demographic_merged_df['Name'].unique())):
    print(i)

In [ ]:
no_match[no_match['Status'].str.contains('Finished', na = False)].reset_index(drop = True)

In [ ]:
ITRA_DUV_100x_demographic_merged_df[ITRA_DUV_100x_demographic_merged_df['Name'].str.contains('Keane Conor')]

### Mergind DUV and ITRA together to test accuracy

In [ ]:
TORX_duv_df.columns

In [ ]:
sub_TORX_duv_df = TORX_duv_df[[
    'Name', 'DUV_ationality', 'Sex', 'DOB', 
#     'Start Date','Finish Time for Tableau', 
    'DUV_Performance', 'Race', 'Year'
    
]].copy()

In [ ]:
TORX_itra_no_DNF.columns

In [ ]:
sub_TORX_itra_no_DNF = TORX_itra_no_DNF[[
    'Name', 'ITRA_Nationality', 'Sex', 'Age', 
#     'Start Date','Finish Time for Tableau', 
    'Status', 'Race', 'Year',
       'ITRA_Performance'    
]]

In [ ]:
# Now try merging
merged_df = pd.merge(sub_TORX_duv_df, sub_TORX_itra_no_DNF, on=['Name', 'Sex', 'Race', 'Year'], how='outer')

print(merged_df)

In [ ]:
merged_df[merged_df['Name'].str.contains('Colle Franco',  na=False)]

#### Merging ITRA and 100x100trail

In [ ]:
years = ['2021', '2022', '2023', '2024']

In [ ]:
TORX_100x100_df['Year'] = TORX_100x100_df['Year'].astype('str')
TORX_100x100_df = TORX_100x100_df[TORX_100x100_df['Year'].isin(years)]

TORX_100x100_df.head()

In [ ]:
sub_TORX_itra_no_DNF['Year'] = sub_TORX_itra_no_DNF['Year'].astype('str')
sub_TORX_itra_no_DNF = sub_TORX_itra_no_DNF[sub_TORX_itra_no_DNF['Year'].isin(years)]

sub_TORX_itra_no_DNF.head()

In [ ]:
# Now try merging
merged_df_2 = pd.merge(TORX_100x100_df, sub_TORX_itra_no_DNF, on=['Name', 'Sex', 'Race', 'Year'], how='outer')

print(merged_df_2)

In [ ]:
merged_df_2[merged_df_2['Name'].str.contains('Colle Franco',  na=False)]

In [ ]:
TORX_100x100_df.shape

In [ ]:
merged_df_2.shape