In [1]:
import re
import pandas as pd
import time
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# # Set pandas options to display all columns and rows
# pd.set_option('display.max_columns', None)  # Show all columns
# pd.set_option('display.max_rows', None)     # Show all rows

## Looping through scraped data from 100X100trail

In [3]:
races = ['TOR330'
#         ,'TOR450'
        ]
years = [ '2021',
        '2022',
         '2023', 
    '2024'
        ]

TORX_df = {}

for race in races:
    for year in years:
        try:
            df = pd.read_excel(f'{race} Data/clean_{race}_aid_stations_{year}.xlsx',
                                     dtype={'Start Date': 'string',
                                            'Year': 'string'})
            print(f'{race}_{year} {df.shape}')
            # Store the DataFrame in the dictionary with a key like 'TOR330_2021'
            TORX_df[f'{race}_{year}'] = df
        except:
            pass
        
        print('*'*50),

**************************************************
TOR330_2022 (960, 91)
**************************************************
TOR330_2023 (1209, 92)
**************************************************
TOR330_2024 (1098, 92)
**************************************************

In [4]:
TORX = pd.concat(TORX_df)

In [5]:
TORX.columns

Index(['Unnamed: 0', 'Name', 'Bib', 'Sex', 'Nationality', 'Year', 'Race',
       'Category', 'Status', 'Status1', 'Wave', 'Duration', 'RITIRIO',
       'Retired', 'Retired_Section', 'new_Start Date', 'Baite Youlaz',
       'La Thuile', 'Rifugio Deffeyes', 'Planaval', 'Valgrisenche IN',
       'Valgrisenche OUT', 'Chalet Epee', 'Rhemes-Notre-Dame', 'Eaux Rousse',
       'Rifugio Sella', 'Cogne IN', 'Cogne OUT', 'Goilles', 'Rifugio Dondena',
       'Chardonney', 'Pontboset', 'Donnas IN', 'Donnas OUT', 'Perloz', 'Sassa',
       'Rifugio Coda', 'Rifugio della Barma', 'Lago Chiaro',
       'Col della Vecchia', 'Niel La Gruba', 'Loo', 'Gressoney IN',
       'Gressoney OUT', 'Rifugio Alpenzu', 'Champoluc',
       'Rifugio Grand Tournalin', 'Valtournenche IN', 'Valtournenche OUT',
       'Vareton', 'Rifugio Magi√†', 'Rifugio Cuney', 'Bivacco R. Clermont',
       'Oyace', 'Bruson Arp', 'Ollomont IN', 'Ollomont OUT',
       'Rifugio Champillon', 'Ponteille Desot', 'Bosses', 'Rifugio Frassati',
       'Pas Entre Deux Sauts', 'Monte de la Saxe', 'FINISH', 'Section 1 Time',
       'Time Spent in Valgrisenche', 'Section 2 Time', 'Time Spent in Cogne',
       'Section 3 Time', 'Time Spent in Donnas', 'Section 4 Time',
       'Time Spent in Gressoney', 'Section 5 Time',
       'Time Spent in Valtournenche', 'Section 6 Time',
       'Time Spent in Ollomont', 'Section 7 Time', 'Section 1 Time_in_seconds',
       'Time Spent in Valgrisenche_in_seconds', 'Section 2 Time_in_seconds',
       'Time Spent in Cogne_in_seconds', 'Section 3 Time_in_seconds',
       'Time Spent in Donnas_in_seconds', 'Section 4 Time_in_seconds',
       'Time Spent in Gressoney_in_seconds', 'Section 5 Time_in_seconds',
       'Time Spent in Valtournenche_in_seconds', 'Section 6 Time_in_seconds',
       'Time Spent in Ollomont_in_seconds', 'Section 7 Time_in_seconds',
       'Duration_in_seconds', 'Rifugio Barmasse'],
      dtype='object')

### Converting to seconds for Tableau Analysis

In [6]:
TORX_dem = TORX[['Name', 'Bib', 'Sex', 'Nationality', 'Year', 'Race', 
      'Category', 'Status', 'Status1', 'Wave', 
      'RITIRIO', 'Retired', 'Retired_Section', 'Duration_in_seconds']].reset_index(drop = True)
      
TORX_times = TORX[[ 'Bib','Year', 'Race',
      'Section 1 Time_in_seconds', 'Time Spent in Valgrisenche_in_seconds', 
      'Section 2 Time_in_seconds', 'Time Spent in Cogne_in_seconds', 
        'Section 3 Time_in_seconds','Time Spent in Donnas_in_seconds', 
        'Section 4 Time_in_seconds','Time Spent in Gressoney_in_seconds', 
        'Section 5 Time_in_seconds', 'Time Spent in Valtournenche_in_seconds', 
        'Section 6 Time_in_seconds','Time Spent in Ollomont_in_seconds', 
        'Section 7 Time_in_seconds']].reset_index(drop = True)

In [7]:
TORX_dem['Retired_Section'].unique()

array([nan, 'Section 2', 'Section 4', 'Section 3', 'Section 7',
       'Section 6', 'Section 1', 'Section 5', 'DNS'], dtype=object)

In [8]:
TORX_dem.groupby(['Retired_Section'])['Retired_Section'].size()

Retired_Section
DNS          131
Section 1    238
Section 2    409
Section 3     96
Section 4    388
Section 5     72
Section 6    108
Section 7     34
Name: Retired_Section, dtype: int64

In [9]:
TORX_dem['Retired_Section'].unique()

array([nan, 'Section 2', 'Section 4', 'Section 3', 'Section 7',
       'Section 6', 'Section 1', 'Section 5', 'DNS'], dtype=object)

,Bib,Year,Race,Section 1 Time_in_seconds,Time Spent in Valgrisenche_in_seconds,Section 2 Time_in_seconds,Time Spent in Cogne_in_seconds,Section 3 Time_in_seconds,Time Spent in Donnas_in_seconds,Section 4 Time_in_seconds,Time Spent in Gressoney_in_seconds,Section 5 Time_in_seconds,Time Spent in Valtournenche_in_seconds,Section 6 Time_in_seconds,Time Spent in Ollomont_in_seconds,Section 7 Time_in_seconds
0,3,2022,TOR330,26648.0,277.0,34554.0,1628.0,25859.0,548.0,44742.0,994.0,31310.0,1115.0,38766.0,935.0,46520.0
1,9,2022,TOR330,27065.0,601.0,38191.0,1062.0,25057.0,1289.0,52040.0,4689.0,29881.0,1966.0,48547.0,4340.0,36925.0
2,5,2022,TOR330,28919.0,943.0,40120.0,1924.0,27256.0,1223.0,55811.0,2073.0,29172.0,1039.0,46930.0,1420.0,39400.0
3,12,2022,TOR330,28916.0,1070.0,39999.0,2031.0,27131.0,1629.0,55436.0,2193.0,29324.0,1456.0,46214.0,1754.0,44995.0
4,275,2022,TOR330,30578.0,904.0,41358.0,1139.0,29762.0,2299.0,64945.0,-281.0,30983.0,1083.0,45921.0,1148.0,39339.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3262,1055,2024,TOR330,55076.0,16418.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3263,525,2024,TOR330,46736.0,1991.0,74342.0,9195.0,50978.0,11998.0,102473.0,18599.0,NaN,NaN,NaN,NaN,NaN
3264,1007,2024,TOR330,43951.0,10861.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3265,1464,2024,TOR330,62653.0,4198.0,NaN,NaN,NaN,7848.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3266,1313,2024,TOR330,44976.0,4597.0,69413.0,7413.0,55772.0,6956.0,102443.0,16740.0,59351.0,6654.0,84986.0,4688.0,NaN

In [11]:
# Unpivot the section-related columns
value_vars = [
    'Section 1 Time_in_seconds', 'Time Spent in Valgrisenche_in_seconds', 
    'Section 2 Time_in_seconds', 'Time Spent in Cogne_in_seconds', 
    'Section 3 Time_in_seconds', 'Time Spent in Donnas_in_seconds',
    'Section 4 Time_in_seconds', 'Time Spent in Gressoney_in_seconds', 
    'Section 5 Time_in_seconds', 'Time Spent in Valtournenche_in_seconds', 
    'Section 6 Time_in_seconds', 'Time Spent in Ollomont_in_seconds', 
    'Section 7 Time_in_seconds'
]

# Melting the dataset
TORX_times_pivoted = pd.melt(
    TORX_times, 
    id_vars=[ 'Bib', 'Year', 'Race'], 
    value_vars=value_vars, 
    var_name='Stage', 
    value_name='Duration'
)


TORX_times_pivoted['Stage'] = TORX_times_pivoted['Stage'].str.replace(' Time_in_seconds', '')
# Display the unpivoted dataset
print(TORX_times_pivoted)

        Bib  Year    Race      Stage  Duration
0         3  2022  TOR330  Section 1   26648.0
1         9  2022  TOR330  Section 1   27065.0
2         5  2022  TOR330  Section 1   28919.0
3        12  2022  TOR330  Section 1   28916.0
4       275  2022  TOR330  Section 1   30578.0
...     ...   ...     ...        ...       ...
42466  1055  2024  TOR330  Section 7       NaN
42467   525  2024  TOR330  Section 7       NaN
42468  1007  2024  TOR330  Section 7       NaN
42469  1464  2024  TOR330  Section 7       NaN
42470  1313  2024  TOR330  Section 7       NaN

[42471 rows x 5 columns]

C:\Users\Karina\AppData\Local\Temp\ipykernel_10948\268718868.py:13: FutureWarning: This dataframe has a column name that matches the 'value_name' column name of the resulting Dataframe. In the future this will raise an error, please set the 'value_name' parameter of DataFrame.melt to a unique name.
  TORX_unpivoted = pd.melt(

In [15]:
TORX_dem.groupby(['Retired_Section', 'Retired' ])['Retired_Section'].count()

Retired_Section  Retired
DNS              new_Start Date             131
Section 1        Baite Youlaz                 2
                 La Thuile                   34
                 Planaval                    24
                 Rifugio Deffeyes            38
                 Valgrisenche               140
Section 2        Chalet Epee                 25
                 Cogne                      109
                 Eaux Rousse                156
                 Rhemes-Notre-Dame          100
                 Rifugio Sella               19
Section 3        Chardonney                  15
                 Donnas                      57
                 Goilles                      4
                 Pontboset                    5
                 Rifugio Dondena             15
Section 4        Col della Vecchia           28
                 Gressoney                  135
                 Lago Chiaro                 16
                 Loo                         16
                 Niel La Gruba               95
                 Perloz                      18
                 Rifugio Coda                21
                 Rifugio della Barma         44
                 Sassa                       15
Section 5        Champoluc                   34
                 Rifugio Alpenzu             11
                 Rifugio Grand Tournalin      5
                 Valtournenche               22
Section 6        Bivacco R. Clermont          6
                 Bruson Arp                  10
                 Ollomont                    35
                 Oyace                       46
                 Rifugio Cuney                4
                 Vareton                      7
Section 7        Bosses                       9
                 Pas Entre Deux Sauts         3
                 Ponteille Desot              8
                 Rifugio Champillon          11
                 Rifugio Frassati             3
Name: Retired_Section, dtype: int64

### Saving for Tableau

In [16]:
TORX_dem.to_excel(f'TOR330 Data/clean_TORX_dem.xlsx' , index = False)
TORX_times_pivoted.to_excel(f'TOR330 Data/clean_TORX_times.xlsx' , index = False)

NameError: name 'TORX_times_pivoted' is not defined